{% extends 'product/base.html' %}

{% block title %} {{user.username }} favorites {% endblock %}

{% block content %}

    
<div class="container p-3">
    <div class="row">
        <h1>{{user.username }} Favorites</h1>
        {% for fav in user.favorite_set.all %}
    
        <div class="col-3 product-container">
            <div class="d-flex flex-column gap-2 p-3">
                <img src="{{ fav.product.image.url }}" class="w-100 rounded-4 card-poster " style="height: 200px;" />
                <h2 style="margin-left: 30px; color: black;">{{fav.product.name}}</h2>
                <h6 class="cat rounded-pill {{fav.product.category}}" style="margin-left: 30px;">{{fav.product.category}}</h6>
                <p class="rounded-pill {{product.price}}" style="margin-left: 30px;">{{fav.product.price}} sr</p>
                <h6><a href="{% url 'product:product_detail_view' fav.product.id  %}" class="text-decoration-none" style="background-color: black; color: azure; border-radius: 44px; margin: 20px; padding: 3px 75px; text-align: center;">More</a></h6>
                
            </div>
            
        </div>
    {% endfor %}

    </div>
</div>
{% endblock %}