*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* home page */
.home{
    height: 100vh;
    padding: 0;
    background: url('/static/image/home.png') no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    overflow: hidden;
}
.header{
    background-color: aliceblue;
    
}

/* all */
.cat{
    color: black;
    background-color: aliceblue;
}

/* update */



