{# djlint:off H013,H006,H021 #}
{% extends "main/base.html" %}
{% load static %}
{% block title %}
  حول الموقع
{% endblock title %}
{% block content %}
  <div class="about">
    <h2 class="title">
      <span>حول الموقع</span>
    </h2>
    <p>
      تأسس متجر Camputer Store (الحاسب) عام 2024 لتصبح أفضل وجهة لهواة الحاسوب وتقدم أنظمة ألعاب الحاسوب . نحنُ متجر رائدة في مجال بيع الحاسوب بالتجزئة في المملكة العربية السعودية. تضمُ منتجاتنا مجموعة واسعة من أنظمة الحواسيب المكتبية وملحقاتها، والألعاب، والحواسيب المحمولة، ومنتجات الشبكات، والطابعات ومستلزمات الحبر، وأجهزة العرض، وآلات الدفع الإلكتروني، والمستلزمات المكتبية، والإلكترونيات الأخرى.
    </p>
    <p>
      يمكنك شراء عبر موقع Camputer Store.com  كافة أنواع أجزاء الحاسوب والأجهزة الطرفية، والحصول عليها من خلال توصيلها إلى منزلك أو مكتبك بواسطة خيارات التوصيل السريع. نحنُ نتعامل مع كافة الشحنات بعناية فائقة لضمان أنك تستلم طلبك بشكل سليم.
    </p>
    <p>تستخدمُ متجر Camputer Store (الحاسب) خيارات دفع متعددة مريحة لتسهيل عمليات الدفع لعملائنا.</p>
    <p>
      تقدمُ متجر Camputer Store (الحاسب) خدمات بناء أجهزة الحاسوب المخصصة للألعاب. بناءً على ميزانيتك، يمكننا إيجاد الحلول لنبني أفضل جهاز حاسوب ممكن للاستخدام المنزلي أو المكتبي، أو ألعاب الحاسوب، أو تحرير الفيديو مع المكونات التي تختارها. نحنُ نستخدم مكونات مميزة، ومنجزة بدقة من أجل التفوق في المنافسة. نحنُ في متجر Camputer Store (الحاسب) نختبرُ كل بوصة في الحاسوب لضمان أنها تلبي أفضل المعايير قبل تسليمها لعملائنا.
    </p>
    <p>
      إنَّ فريقنا مكون من مجموعة من خبراء الحاسوب (والبعض منهم لاعبي ألعاب الحاسوب أيضًا) ومستعدين لمساعدتك في الأسئلة التقنية المتعلقة بحاسوبك وتقديم أفضل دعم ممكن لك.
    </p>
    <p>
      تقدمُ متجر Camputer Store (الحاسب) أيضًا خدمات استكشاف الأخطاء واصلاحها وإصلاح أعطال الحاسوب للحواسيب المكتبية، والحواسيب المحمولة وحواسيب ماكنتوش. نحنُ نقدم خدمات فعالة من حيث الجودة والتكلفة والتي يتوقعها عملاؤنا.
    </p>
    <p>
      ينتشرُ أعضاء فريقنا في جميع أنحاء المنطقة من أجل دعم كافة مستخدمي متجر  Camputer Store (الحاسب) أينما كانوا ويعملون بجد لجعل تجربتك في التسوُّق عبر الإنترنت أفضل. في ظل زيادة عدد متاجر الحاسوب والمتاجر الإلكترونية التي تتزايد باستمرار، فإنَّ التزام متجر Camputer Store (الحاسب) بتقديم خدمات ذات جودة عالية للعملاء هو أمر يستحق الثناء بكل تأكيد والذي وضعنا معاييرنا للآخرين من أجل أن يتبعوه. هذا بالإضافة إلى اعطائك توصية من المتحمسين وخيارات أجهزة الحاسوب المتطورة، بالطبع.
    </p>
  </div>
{% endblock content %}
