{% extends 'main/base.html' %}

{% block title %} onlineLearing {% endblock%}


{% block content %}

 



  <div class="py-5"id="venue">
   <div class="container">
       <div class="row  animate-in-down">
           <div class="p-4 col-md-6 align-self-center text-color-blak">
               <p class="my-4 ">The National eLearning Platform - FutureX is one of NELC's initiatives to empower eLearning sector in
                  the Kingdom of Saudi Arabia by providing services and initiatives to achieve integration in the ecosystem through local and 
                  global partnerships.</a>
           </div>
           <div class="p-0 col-md-6">
               <div class="carousel slide" data-ride="carousel" id="carousel1">
                   <div class="carousel-inner" role="listbox">
                
                       <div class="carousel-item active"> <img class="d-block img-fluid w-100" src="https://i.imgur.com/c8952Iz.jpg" data-holder-rendered="true">
                           <div class="carousel-caption">
                            
                           </div>
                       </div>
                       
               </div>
           </div>
       </div>
   </div>
</div>

<style>
   .text-color {
    color: #fff
}

.carousel-item img {
    height: 400px
}
</style>

  {% endblock %}