{% extends 'main/index.html' %}

{% block title %} onlineLearing {% endblock%}


{% block content %}
<div class="card text-bg-primary mb-3" style="max-width: rem;">
    <div class="card-header">About the platform</div>
      <p class="card-text">The National eLearning Platform - FutureX is one of NELC's initiatives to empower eLearning sector in
         the Kingdom of Saudi Arabia by providing services and initiatives to achieve integration in the ecosystem through local and 
         global partnerships.</p>
    </div>
  </div>

  

  {% endblock %}