{% extends 'main/index.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header"><h1>Add courses</h1></div>

                <div class="card-body">
                    <form action="{% url 'main:add_courses_view' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                        {% csrf_token %}

                        <input name="coursename" type="text" placeholder="Title" class="form-control" required minlength="2" />
                        <textarea name="content" class="form-control" required minlength="2"></textarea>
                        <input name="poster" type="file" accept="image/*" class="form-control" required />
                        <input name="numberhours" type="number" placeholder="Number of hours" class="form-control" />
                        <input name="price" type="number" placeholder="Price" class="form-control" />
                        <input name="startdate" type="date" placeholder="Start date" class="form-control" />
                        <input name="expirydate" type="date" placeholder="Expiry date" class="form-control" />

                        <select name="categories" class="form-select" required>
                            {% for val, cat in categories %}
                                <option value="{{val}}">{{cat}}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" class="btn btn-primary" value="Add Post" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    <!---لاتحوسين فيها-->