{% extends 'main/index.html' %}

{% block title %} onlineLearing {% endblock%}


{% block content %}

    <div class="row g-4">

        <div class="col">
            <div class="d-flex align-items-baseline gap-2">
                <h1>Elearning programs and courses</h1>
                <h4>We offer local & global courses and professional certificates to enable institutions to build their employees skills</h4>
           
    </div>
    <!--
    <div class="card mb-3 container" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/static/images/nick-morrison-FHnnjk1Yj7Y-unsplash.png" class="img-fluid rounded-start" alt="...">
          </div>
          
          <div class="col-md-8 ">
            <div class="card-body">
              <h5 class="card-title">E-Learning Management System</h5>
              <p class="card-text">E-Learning Management System ELMS The Blackboard ELMS allows the student and faculty member to access an e-copy of the enlisted courses and to follow up on the efficiency of the educational process.
                 It offers various course tools such as lessons, assignments and tests, besides viewing and managin</p>
                 <input type="submit" class="btn btn-primary" value="Sign Up" />

            </div>
          </div>
        </div>
      </div>
    -->

{% endblock %}