{% extends 'main/base.html' %}

{% block title %} onlineLearing 


{% block content %}

    <div class="row g-4">

        <div class="col">
            <div class="d-flex align-items-baseline gap-2">
                <h1>Elearning programs and courses</h1>
                <h4>We offer local & global courses and professional certificates to enable institutions to build their employees skills</h4>
            </div>
            <img src="/static/images/pexels-photo-3184459.webp" class="w-100 hero rounded-4" />
        </div>
    </div>


{% endblock %}