{% extends 'main/base.html' %}

{% block title %}Online Learning{% endblock %}

{% block content %}

        <!-- Row -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="mb-3 text-blak font-weight-medium">E-learning Programs and Courses</h2>
                <p class="font-weight-light text-blak op-8">We offer local & global courses and professional certificates to enable institutions to build their employees' skills</p>
                {% if not request.user.is_authenticated %} 

                <a class="btn btn-danger-gradiant btn-md border-0 text-blak mt-3 text-uppercase"
            
                    href="{% url 'accounts:register_user_view' %}"><span>Sign Up</span></a>
                    {% endif %}

            </div>
        </div>
        <!-- Row -->
    </div>
</div>









        <form action="{% url 'main:posts_search_view' %}" class="d-flex" role="search" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" >
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          






        <div class="d-flex justify-content-between align-items-center">
            {% if request.user.is_staff and perms.main.add_post %}
            <a class="btn btn-primary" href="{% url 'main:add_courses_view' %}">Add Post</a>
            {% endif %}
        </div>


        <div class="container mt-5">
            <div class="row">
                <div class="col-12 card-body card-header">
                    <div class="row row-cols-2 row-cols-md-4 g-3">
                        {% for post in courses %}
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{ post.poster.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'main:post_detail_view' post.id %}" class="text-decoration-none text-dark">{{ post.coursename }}</a></h5>
                                    <p class="card-text">{{ post.description }}</p>
                                    <div>
                                    <i class="bi bi-book"></i>
                                    <i class="bi bi-bar-chart-fill"></i>
                                </div>
                                    <i class="bi bi-cart2 btn btn-outline-success "></i>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        



    <div class="container mt-3 mb-5 ">
    
        <div class="row g-2">
            <div class="col-md-4">
                <div class="card p-3 text-center px-4">
                    
                    <div class="user-image">
                        
                <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80"
                        >
                        
                    </div>
                    
                    <div class="user-content">
                        
                        <h5 class="mb-0">Bruce Hardy</h5>
                        <span>Software Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        
                    </div>
                    
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        
                    </div>
                    
                </div>
            </div>
            
            <div class="col-md-4">
                
                <div class="card p-3 text-center px-4">
                    
                    <div class="user-image">
                        
                <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80"
                        >
                        
                    </div>
                    
                    <div class="user-content">
                        
                        <h5 class="mb-0">Mark Smith</h5>
                        <span>Web Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        
                    </div>
                    
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-md-4">
                
                <div class="card p-3 text-center px-4">
                    
                    <div class="user-image">
                        
                <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80"
                        >
                        
                    </div>
                    
                    <div class="user-content">
                        
                        <h5 class="mb-0">Veera  Duncan</h5>
                        <span>Software Architect</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        
                    </div>
                    
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        
                    </div>
                    
                </div>
                
            </div>
            
            
        </div>
        
    </div>








    
{% endblock %}
