{% extends 'main/base.html' %}

{% block title %}Online Learning{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-8">
                <h1 class="text-center font-weight-bold">E-learning Programs and Courses</h1>
                <h4 class="text-center mb-4">We offer local & global courses and professional certificates to enable institutions to build their employees' skills</h4>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="font-weight-bold">courses</h2>
            <a class="btn btn-primary" href="{% url 'main:add_courses_view' %}">Add Post</a>
        </div>

        <div class="container row">
            <div class="row col-12">
                {% for post in courses %}
                    <div class="d-flex gap-1 border border-1 shadow p-1 rounded-2 m-2 col-2">
                        <div class="card p-0">
                            <img src="{{ post.poster.url }}"  class="w-100 rounded-2"/>
                            <p class="font-weight-bold"><a href="{% url 'main:post_detail_view' post.id  %}" class="text-decoration-none text-dark ">{{post.coursename}}</a></p>
                           
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

<h2> Instructors </h2>
<div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/istockphoto-1401269015-1024x1024.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dr Fiona Borthwick</h5>
              <p class="card-text">Fiona has a PhD in Environmental Science and Policy from Central European University - her dissertation focused on the international approaches to environmental management in post conflict regions of South Eastern Europe, Central Asia and the Caucasus. She has taught environmental management and Environmental Impact Assessment for over 10 years 
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/static/images/istockphoto-1331257339-1024x1024.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dr Elaine Bannerman
            </h5>
              <p class="card-text">  Veterinary Studies in February 2019 as Coordinator of the online MSc Global Food Security and Nutrition programme. She has a BSc (Hons) Dietetics (Leeds, 1993) and a PhD looking at identification of nutritional risk of non-institutionalised older adults (The Open University, 1998)
              </p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="/static/images/istockphoto-1319763895-1024x1024.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dr Jonathan Hillier
            </h5>
              <p class="card-text">jonathan is a Senior Lecturer in Mathematical Modelling and Global Food Sytems. He acquired a BSc (1st Class) in Mathematics from the University of Wales Bangor in 1992 and a PhD in Mathematics from the University of York in 1997.

                Jonathan has since worked in several universities 
              </p>
            </div>
          </div>
    </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">E-Learning Management System</h5>
                                    <p class="card-text">E-Learning Management System (ELMS) allows students and faculty members to access e-copies of enlisted courses and monitor the efficiency of the educational process. It offers various course tools such as lessons, assignments, tests, and more.</p>
                                    <a href="{% url 'accounts:register_user_view' %}" class="btn btn-primary">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
