{% extends 'product/base.html' %}
{% block title %} Market {% endblock %}
{% block content %}
 

<div class="row">
    <div class="col-12 home" >
         
        <h2  style="background-color: rgba(104, 106, 106, 0.3); padding: 33px; margin-left: 210px; margin-right: 210px; color: azure; text-align: center; margin-top: 200px;" >Store The best way to buy the products you love</h2>
        <a  href="{%url 'product:product_list_view'%}" style="color: azure; margin-left: 650px; padding: 90px 30px; text-decoration: none;" >SHOP NOW<span class="material-symbols-outlined align-middle">
            arrow_forward</span></a>
    </div>
</div>
<div class="col">
    <h3 class="p-2">About</h3>
<h6 class="p-2">Welcome to our online store, your destination for cutting-edge technology and electronics! We take pride in offering a diverse and premium range of tech products that cater to all your needs.

    At our store, we are committed to providing the latest in technology and electronics at the highest quality and competitive prices. Whether you're in search of the latest smartphones, tablets, computers, or tech accessories, we have you covered with a variety of options that meet all your expectations.
    
    We believe in delivering a seamless and enjoyable shopping experience, which is why we strive to provide excellent customer service to ensure your complete satisfaction. Our professional team is always ready to assist you and provide the necessary support before, during, and after your purchase.
    
    Explore our store today and discover our unique collection of modern tech products. We look forward to serving you and providing the best deals and services to make your online shopping experience with us unforgettable.
    
    Thank you for visiting our online store!</h6>
</div>
<div class="row">
    <div class="col-12 home2 " style="margin-bottom: 33px;">
         
        <h2  style="background-color: rgba(104, 106, 106, 0.3); padding: 33px; margin-left: 200px; margin-right: 200px; color: azure; text-align: center; margin-top: 200px;" >Macbook <br> bends to its power. Authority stands for it.</h2>
        <a  href="{%url 'product:product_list_view'%}" style="color: azure; margin-left: 650px; padding: 90px 30px; text-decoration: none;" >SHOP NOW<span class="material-symbols-outlined align-middle">
            arrow_forward</span></a>
    </div>
{%endblock%}