{% extends 'main/base.html' %}
{% load static %}
{% block title %} New Student Register {% endblock %}

{% block content %}
<!-- Registration 11 - Bootstrap Brain Component -->
<section >
    <div class="container my-5 py-4 px-5 rounded-4" style="background-color: white;">
        <div class="row">
            <div class="col-12">
                <div class="mb-5">
                    <h2 class="display-5 fw-bold text-center">Sign up</h2>
                    <p class="text-center m-0">Already have an account? <a href="{% url 'accounts:login_user_view' %}" class="link-primary text-decoration-none">Sign in</a></p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center mb-3">
            <div class="col-12 ">
                <div class="row gy-5 justify-content-center">
                    <div class="col-12 col-lg-5">
                        <form action="{% url 'accounts:register_user_view' %}" method="POST" class="d-flex flex-column gap-2" enctype="multipart/form-data">
                            {% csrf_token %}                

                            <div class="row gy-3 overflow-hidden">

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control border-0 border-bottom rounded-0" name="username" id="username" placeholder="Username" minlength="3" required>
                                        <label for="username" class="form-label">Username</label>
                                    </div>
                                </div>    
                                <div class="row gy-3 overflow-hidden">
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control border-0 border-bottom rounded-0" name="first_name" id="first_name" placeholder="First Name" minlength="3" required>
                                            <label for="first_name" class="form-label">First Name</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control border-0 border-bottom rounded-0" name="last_name" id="last_name" placeholder="Last Name" minlength="3" required>
                                            <label for="last_name" class="form-label">Last Name</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control border-0 border-bottom rounded-0" name="email" id="email" placeholder="name@example.com" required>
                                        <label for="email" class="form-label">Email</label>
                                    </div>
                                </div>

                                <div class="row gy-3 overflow-hidden">
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <select name="major" class="form-select" id="major" required>
                                                {% for val, m in majors %}
                                                    <option value="{{val}}">{{m}}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="major" class="form-label">Major</label>
                                        </div>
                                    </div>
    
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control border-0 border-bottom rounded-0" name="city" id="city"  placeholder="City" required>
                                            <label for="city" class="form-label">City</label>
                                        </div>
                                    </div>
                                </div>

                               
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control border-0 border-bottom rounded-0" name="password" id="password" minlength="8" placeholder="Password" required>
                                        <label for="password" class="form-label">Password</label>
                                    </div>
                                </div>


                                <div class="col-12 ">
                                    <div class="d-grid">
                                        <input type="submit" class="btn btn-primary rounded-5" value="Register" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-1 d-flex align-items-center justify-content-center gap-3 flex-lg-column">
                        <div class="bg-dark h-100 d-none d-lg-block" style="width: 1px; --bs-bg-opacity: .1;"></div>
                        <div class="bg-dark w-100 d-lg-none" style="height: 1px; --bs-bg-opacity: .1;"></div>
                    </div>
                    <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
                        <img src="{% static 'images/reg.jpg' %}" alt="login img" class="log-img" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

