{% extends 'main/base.html' %}

{% block title %} Twitting {% endblock %}


{% block content %}

    <div class="d-flex justify-content-between align-items-center">
        <h2>Posts</h2>
    </div>
    <div class="row g-5">

        {% for post in posts %}
            <div>
                <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                    <h5><a href="{% url 'main:post_detail_view' post.id  %}" class="text-decoration-none">{{post.content}}</a></h5>
                    <img src="{{ post.poster.url }}"  class="w-100 rounded-4 card-poster "/>
                    <h6 class="text-muted">{{ post.published_at }}</h6>
                    
                </div>
            </div>
            
        {% endfor %}

    </div>

{% endblock %}