{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
        <h1>Update post</h1>
        <div class="col">

            <form action="{% url 'main:update_post_view' post.id %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data">
                {% csrf_token %}

                <textarea name="content" class="form-control" required minlength="20">{{post.content}}</textarea>

                <h5>Choose Image:</h5>
                <img src="{{ post.poster.url }}" class="thumb" />
                <input name="poster"  type="file"  accept="image/*" class="form-control"  />

                <input type="submit" class="btn btn-primary" value="Update" />
            </form>

        </div>


    </div>
{% endblock %}