{% extends 'main/base.html' %}

{% block title %}update {{request.user.usernamae}} Update Account {% endblock %}

{% block content %}

<section style="padding-left: 300px; margin-bottom: 200px;">

    {% if msg %}
        <div class="alert alert-danger" style="margin-right: 320px; margin-top: 20px;">{{msg}}</div>
    {% endif %}
    <div class="row"  >
        <h1 class="fw-light text-blak " style="margin-top: 50px;  margin-bottom: 20px; ">Update Account</h1>
        <div class="col-8">
            <form action="{% url 'accounts:update_profile' %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data">
                {% csrf_token %}

                <input name="first_name" class="form-control" type="text" minlength="3" required placeholder="First Name" value="{{user.first_name}}"/>
                <input name="last_name" class="form-control" type="text" minlength="3" required placeholder="Last Name" value="{{user.last_name}}"/>
                <input name="email" class="form-control" type="email" minlength="3" required placeholder="Email" value="{{user.email}}"/>

                <textarea name="about" class="form-control" placeholder="about yourself" value="{{user.profile.about}}">{{user.profile.about}}</textarea>
            

                <h4>Choose Avatar:</h4>
                <img src="{{user.profile.avatar.url}}" class="avatar" />
                <input type="file" class="form-control" name="avatar" />

                <input type="submit" class="btn btn-primary"  style="background-color: rgb(51, 150, 24);" value="Update Profile" />

            </form>
        </div>
        
    </div>
</section> 
{% endblock %}