{% extends 'main/base.html' %}

{% block title %} {{user_profile.user.username }} profile {% endblock %}

{% block content %}

    <div class="d-flex justify-content-between align-items-center">
        <h1>{{request.user.username }} Profile</h1>
        {% if request.user == user_profile.user %}
            <a href="{% url 'accounts:update_profile' %}" class="btn btn-primary">Update</a>
        {% endif %}
    </div>
    

    <div class="row">
        <div class="col-2">

            <img src="{{user_profile.avatar.url}}" class="avatar w-100 rounded-4" />
            <h5>@{{user_profile.user.username}} </h5>

        </div>

        <div class="col">

            <div class="d-flex flex-column">
                <h3>{{user_profile.user.first_name}} {{ user_profile.user.last_name}}</h3>
                <a href="mailto:{{user_info.user.email}}">{{ user_profile.user.email }}</a>
                <p class="mt-2">{{ user_profile.about }}</p>
                
            </div>

            <hr/>
            <h2>{{user_profile.user.username}} Comments</h2>
            <div class="d-flex flex-column gap-4">
                {% for comment in user_profile.user.comment_set.all %}
                    <div class="d-flex flex-column gap-1 p-3 shadow">
                        <h5>{{comment.user.username}}</h5>
                        <a href="{% url 'main:detail_recipes' comment.Recipes.id %}#comments"><h6 class="text-muted">{{comment.recipes.name}}</h6></a>
                        <p>{{comment.content }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="row">
        <h2>Reposted Recipes:</h2>
            <ul>
            {% for recipe in userprofile.reposted_recipes.all %}
                <li>{{ recipe.name }}</li>
                
            {% endfor %}
            </ul>
    </div>
{% endblock %}