{% extends 'main/base.html' %}
{% load static %}
{% block title %} TaskMinder {% endblock %}


{% block content %}

    <!-- Checkbox -->

<!-- <section>

checkbox 

        <label>
            <input type="checkbox" id="myCheckbox">
            <span id="myText">Text</span>
        </label>

</section> -->



    <nav class="navbar">
        <div class="container-fluid">
            <a href="{% url 'main:home_page' %}" class="navbar-brand">TaskMinder</a>
                <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit" class="px-3">Go</button>
                </div>
        </div>
    </nav>

    <!-- SideBar  -->


    <div class="sidebar">
        <ul>
            <li>
            {% if request.user.is_authenticated %} 
              <a class="nav-link mt-5" href="{% url 'accounts:user_profile' request.user.username %}" style="color: rgb(149, 99, 69);">WELCOME<br>✦{{request.user.username }}✦</a>
            {% endif %}
            </li>
            <li><button class="btn mt-3"><a href="{% url 'main:home_page' %}">HOME</a></button></li>
            <li><button class="btn"><a href="#">PROJECTS</a></button></li>
            <li><button class="btn"><a href="#">MY TASKS</a></button></li>
            <li><button class="btn"><a href="#">CALENDAR</a></button></li>
            <hr class="m-3">
            <li><button class="btn logout"><a href="{% url 'accounts:logout_user' %}">LOGOUT</a></button></li>
        </ul>
    </div>

    <section>
        <div class="container  mt-5 px-5">
            <div class="row">
                <hr/>
                <h2>Comments  ({{ comments.count }})</h2>
                <div class="col-12 col-md-8 all-comments mb-3" id="commentDetail">
    
                        {% for comment in comments %}
    
                                <div class="border rounded-4 mt-2 mb-3 d-flex flex-column p-3">
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="{% static 'images/user.png' %}" alt="" width="40" height="40">
                                        <h4 class="pt-3">{{ comment.user.username}}</h4>
                                    </div>
                                    <p class="com-date">{{comment.comment_date}}</p>
                                    <p class="com-p">{{ comment.content }}</p>
                                </div>
    
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}