{% extends 'main/base.html' %}

{% block title %} {{user.username}}'s Saved Recipes {% endblock %}

{% block content %}
<div class="container">

    <div class="row" style="margin-top: 100px;">
        <h1>{{user.username }} Saved Recipes</h1>
        <hr>
            {% for saved in user.saved_set.all %}
            <div class="col-4">
                <main>
                    <div class = "card">
                        <img src="{{ saved.recipe.image.url }}"/>
                        <div class="card-content">
                            <h3>{{saved.recipe.title}}</h3>
                            <p>
                                {{saved.recipe.brief}}
                            </p>
                            <a href="{% url 'main:recipe_detail' saved.recipe.id %}" class="text-decoration-none" style="color: rgba(0, 0, 0, 0.582);" class="button">
                                Find out more 
                                <span class="material-symbols-outlined">
                                    arrow_right_alt
                                </span>
                            </a>
                            <h5 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{saved.recipe.category}} ">{{ saved.recipe.category }}</h5>
                            <h6 class="text-muted">{{ saved.recipe.created_at }}</h6>
                        </div>
                    </div> <!--Image 1-->
                </main>

            </div>
            
        {% endfor %}
    
    </div>
</div>

{% endblock %}