{% extends 'main/S1.html' %}

{% block title %}Register New User{% endblock %}

{% block content %}

    <h1>Register New User</h1>
    {% if msg %}
    <div class="alert alert-danger">{{ msg }}</div>
    {% endif %}

    <div class="row">
        <div class="col">
            <form action="{% url 'user_info:register_user' %}" method="post" class="d-flex flex-column gap-2">
                {% csrf_token %}

                <input name="username" class="form-control" type="text" minlength="3" required placeholder="Username" />
                <input name="first_name" class="form-control" type="text" minlength="3" required placeholder="First Name" />
                <input name="last_name" class="form-control" type="text" minlength="3" required placeholder="Last Name" />
                <input name="email" class="form-control" type="email" minlength="3" required placeholder="Email" />
                <input name="password" class="form-control" type="password" minlength="6" required placeholder="Password" />

                <input type="submit" class="btn btn-primary" value="Sign Up" />

            </form>
        </div>
    </div>
{% endblock %}