{% extends 'main/base.html' %}
{% load static %}
{% block title %} All Events {% endblock %}

{% block content %}
<section>
    <div class="container mt-5 mb-5">
        <div class="row g-4 mb-5">

            <div class="d-flex justify-content-between align-items-center flex-column">
                <h1>{% if 'them' in request.GET %} {{request.GET.them}} {% else %} All {% endif %}Events ({{ events.count }}) </h1>
    
                <div class="d-flex gap-2 mt-5">
                    <a href="{% url 'main:all_events_view' %}" class="text-dark py-2 px-3 bg-light rounded-pill text-decoration-none text-center {% if 'them' not in request.GET %} All  {% endif %}">All</a>
                    
                    {% for val, key in themes %}
                        <a href="?them={{val}}" class=" text-light py-2 px-3 rounded-pill bg-dark text-decoration-none text-center {% if request.GET.them == val %} {{ val }}{% endif %}">{{val}}</a>
                        
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="row gap-4 mb-5 justify-content-center">
            {% for event in events %}
                <div class="col col-12 col-md-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="{{ event.event_img.url }}" alt="Event image">
                        </div>
                
                        <div class="body-container">
                            <div class="overlay"></div>
                
                            <div class="event-info">
                                <p><a href="{% url 'main:event_detail_view' event.id  %}" class="title">{{event.event_title}}</a></p>
                                <div class="separator"></div>
                                <p class="info">{{event.user.first_name}}</p>
                                <p class="price">{{ event.theme }}</p>
                
                                <div class="additional-info">
                                    <p class="info">
                                        <i class="fas fa-map-marker-alt"></i>
                                        Grand Central Terminal
                                    </p>
                                    <p class="info">
                                        <i class="far fa-calendar-alt"></i>
                                        {{ event.event_date }}                                    
                                    </p>
                
                                    <p class="info description">
                                         We meet one Sunday evening <span>more...</span>
                                    </p>
                                </div>
                            </div>
                                <button class="action">Book it</button>
                                <button class="actionS">Book it</button>
                         
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</section>
		
{% endblock %}