{% extends 'main/base.html' %}
{% load static %}
{% block title %} All Events {% endblock %}

{% block content %}
<section>
    <div class="container mt-5 px-5">  
        <div class="row g-5">
            <div class="col">
               {% for event in events %}
                    <div class="col-4">
                        <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                            <img src="{{ event.event_img.url }}"  class="w-100 rounded-4 card-poster "/>
                            <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{event.theme}} ">{{ event.theme }}</h6>
                            <h6 class="text-muted">{{ event.event_date }}</h6>
                            <h2><a href="{% url 'main:event_detail_view' event.id  %}" class="text-decoration-none">{{event.event_title}}</a></h2>          
                        </div>
                    </div>
               {% endfor %}
                 
            </div>
        </div>
    </div>
</section>
{% endblock %}