{% extends 'main/base.html' %}
{% load static %}
{% block title %} Edit on Event {% endblock %}

{% block content %}
<section>
    <div class="container mt-5 ">

        

        <div class="row g-5 ">
            <div class="col d-flex flex-column justify-content-center bg-white py-4 mx-5 my-5 rounded-4">
                <h1 class="text-center">Edit Event</h1>
                <div class="row my-4">
                    <div class="col d-flex justify-content-center bg-white mx-5 px-0 rounded-4">
                        <img src="{{ event.event_img.url }}" style="width: 100%; height:350px; object-fit: cover;" alt="event" class="shadow-lg rounded-4">
                    </div>
                </div>
                <form action="{% url 'main:edit_event_view' event.id %}" method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                    {% csrf_token %}
                    <div class="row my-3">
                    
                        <div class="col-12">
                            <div class="row my-3">
                                <div class="col-6">
                                    <label for="event_title" class="form-label">event title</label>
                                    <input name="event_title" value="{{ event.event_title }}" type="text" placeholder="event_title" class="form-control" minlength="5"/>
        
                                </div>
                                <div class="col-6">
                                    <label for="theme" class="form-label">Theme</label>
                                    <select name="theme" class="form-select" >
                                        {% for val, th in themes %}
                                            <option value="{{val}}" {% if event.theme == val %} selected {% endif %}>{{th}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row my-3">
                                <div class="col-12">
                                    <label for="event_description" class="form-label">Event Description</label>
                                    <textarea name="event_description" class="form-control" minlength="20" >{{ event.event_description }}</textarea>
                                </div>
                            </div>
        
                            <div class="row my-3">
                                <div class="col-12">
                                    <label for="objective" class="form-label">Objective</label>
                                    <textarea name="objective" class="form-control" minlength="20" >{{ event.objective }}</textarea>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-6">
                                    <label for="event_type" class="form-label">Event type</label>
                                    <select name="event_type" class="form-select" >
                                        {% for val, t in types %}
                                            <option value="{{val}}" {% if event.event_type == val %} selected {% endif %}>{{t}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="flexSwitchCheckDefault" class="form-label">on_site</label>
                                    <div class="form-check form-switch">
                                        <input name="on_site" value="True" class="form-check-input pt-3 pb-2 px-4" type="checkbox" role="switch" id="flexSwitchCheckDefault" {% if event.on_site %} checked {% endif %}>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="date"
                                            style="display: block; margin-bottom: 10px;">
        
                                            Date :
                                        </label>
                                        <input type="date" name="event_date" id="date"
                                            value="{{event.event_date|date:'Y-m-d' }}"
                                            style="padding: 5px; border-radius: 5px; 
                                            border: 1px solid #ccc; margin-bottom: 10px;"
                                        />
                                    </div>
                                    <div class="col-3">
                                        <label for="time"
                                            style="display: block; margin-bottom: 10px;">
                                            From:
                                        </label>
                                        <input type="time" name="time_start" id="time"
                                        value="{{event.time_start|date:'H:i' }}"
                                        style="padding: 5px; border-radius: 5px; 
                                            border: 1px solid #ccc; margin-bottom: 10px;"
                                        />
                                    </div>
                                    <div class="col-3">
                                        <label for="time"
                                            style="display: block; margin-bottom: 10px;">
                                            To:
                                        </label>
                                        <input type="time" name="time_end" id="time"
                                        value="{{event.time_end|date:'H:i' }}"
                                        style="padding: 5px; border-radius: 5px; 
                                            border: 1px solid #ccc; margin-bottom: 10px;"
                                        />      
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <label for="event_img" class="form-label">Upload Image:</label>
                                    <img src="{{ event.event_img.url }}" alt="previus img plant" class="my-2 rounded-3" style="width:50px; height:30px;">
                                    <input name="event_img" type="file"  accept="Image/*" class="form-control"  />
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 d-flex justify-content-center">
                                    <input type="submit" class="btn btn-success rounded-5" value="Save Edit" />
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}