{% extends 'main/base.html' %}
{% load static %}
{% block title %} No Permission {% endblock %}

{% block content %}
<section>
    <div class="container py-4 my-5 rounded-4" style="background-color: white; width: 60%;">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <img src="{% static 'images/perm.jpg' %}" alt="not found" style="width: 50%;">
            <h3 class="h2 mb-2">No Permission</h3>
            <p class="mb-5">Sorry, but you don't have Permission to access this page.</p>
            <a class="btn btn-dark rounded-pill" href="{% url 'main:index_view' %}" role="button">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}