{% extends 'main/base.html' %}
{% load static %}
{% block title %} 404 Not Found {% endblock %}

{% block content %}

<section>
    <div class="container py-4 my-5 rounded-4" style="background-color: white; width: 60%;">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <img src="{% static 'images/nf1.jpg' %}" alt="not found" style="width: 50%;">
            <h3 class="h2 mb-2">Oops! You're lost</h3>
            <p class="mb-5">The page you are looking for was not found.</p>
            <a class="btn btn-dark rounded-pill" href="{% url 'main:index_view' %}" role="button">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}