{% extends 'main/base.html' %}

{% block title %} {{user.username }} favorites {% endblock %}

{% block content %}
<style>
    .card-container {
    width: 100%; 
    background-color: #ffffff; /* لون الخلفية أبيض */
    display: flex;
    flex-direction: column;
    gap: 8px; /* تقليل المسافة بين العناصر الداخلية */
}

.card-image {
    width: 100%; /* العرض الكامل للصورة */
    object-fit: cover; 
}

.category-label {
    padding: 5px 10px; 
    margin: 0 15px; 
    text-align: center; /* مركز النص داخل العلامة */
}

.date-posted {
    margin: 0 15px; 
}

.blog-title {
    margin: 0 15px; 

}
</style>
   
<div class="container">
<div class="row justify-content-center ">
    <div class="col">
        <h4 style="font-size: 200%; font-family: cursive; margin-top: 5%;">Favorites:</h4>
        <a style="background-color: black; width: 50%; font-family: cursive; border-color: antiquewhite; " ></a>
          
        <div class="collapse show" id="favoritesCollapse">
            <div class="row">
                {% for favorite in user.favorite_set.all %}
                <div class="col-4 mt-5">
                    <div class="card-container shadow p-3 h-100">
                        <img src="{{ favorite.Blog.image.url }}" class="card-image" alt="{{ favorite.Blog.name }} image">
                        <h6 class="category-label rounded-pill">{{ favorite.Blog.category }}</h6>
                        <h6 class="date-posted">{{ favorite.Blog.created_at }}</h6>
                        <h2 class="blog-title"><a href="{% url 'main:detail_images' favorite.Blog.id %}" class="text-decoration-none">{{ favorite.Blog.name }}</a></h2>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}