
body{
    background-color: rgb(233, 237, 235);
    margin-left: 3vw;
    margin-right: 1vw;
}



/* header and navbar */

.header{
    margin-top: 1vw;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    font-size: 20px;
}

.logoimg{
    width: 200px;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text{
    font-size: 40px;
    color: rgb(40, 24, 46);
}

.navbar a{
    
    position: relative;
    font-size: 20px;
    color: rgb(40, 24, 46);
    text-decoration: none;
    margin-left: 55px;
    display: flex;
    justify-content: center;
    
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(40, 24, 46);
    transition: .3s;
    
}

.navbar a:hover:before{
    width: 100%;
    
    
    
}
.navbar a:hover{
    color: #5fbb79;
}


.footer{
    bottom: 0;
    position: fixed;
    margin-top: 3vw;
    width: 100%;
    padding: 10px ;
    background-color: rgb(210, 229, 215);
    
    justify-content:space-between;

}

.footer a:hover{
    color: #5fbb79;
}

button:hover{
    color: #5fbb79;
}

.overly{
    font-family: "Great Vibes";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 120px;
    margin-bottom: 40vw;
    color: #fdf0ea;
    width: 1500px;
    
    
}
.-continer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}
.-img{
    width: 100%;
    height: 700px;
    border-radius: 10%;
    object-fit: cover;
    

}

.overly p{
    font-family: "Great Vibes";
    color: #181818;
}

.overly .title{
    font-family: "Great Vibes";
    color: #181818;
    margin-left: 13vw;
    
    
}

.overly h1{
    color: #181818;
    font-size: 60px;
    margin-left: 30vw;
}

.box{
    background-color: rgba(222, 222, 222, 0.5);
    width: 100%;
    height:400px;
    margin-left: 5vw;
    margin-top: 10vw;
    border-radius: 10%;
    
}

.-search{
    width: 600px;
    margin-left: 28vw;

}

.x{
    font-size: 25px;
    font-family: "Great Vibes";
    
}


.-list{
    background-color: rgb(233, 237, 235);
}


.list-group-item{
    color: rgb(19, 27, 23);
    background-color: rgb(171, 183, 177);
}


.xx{
    font-size: 20px;
    font-family: "Great Vibes";
}

.-icon{
    color: rgb(19, 27, 23);
    font-size: 50px;
}

.cal-title{
    font-family: "Great Vibes";
    margin-left: 7vw;

}

.cal-title2{
    font-family: "Great Vibes";
    margin-left: 14vw;

}

.api-title{
    font-family: "Great Vibes";
    margin-left: 37vw;
}