*{
    font-family: "Quicksand", sans-serif;
}
body{
    background-color: rgb(233, 237, 235);
    margin-left: 2vw;
    margin-right: 1vw;

}



/* header and navbar */

.header{
    margin-top: 1vw;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 20px;
}

.logoimg{
    width: 200px;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text{
    font-size: 40px;
    color: rgb(40, 24, 46);
}

.navbar a{
    
    position: relative;
    font-size: 20px;
    color: rgb(40, 24, 46);
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    
}

.gap{
    margin-left: 3vw;
}
.gap2{
    margin-left: 1vw;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(40, 24, 46);
    transition: .3s;
    
}

.navbar a:hover:before{
    width: 100%;
    
    
    
}
.navbar a:hover{
    color: #5fbb79;
}

.drop{
    font-size: 20px;
    color: #181818;
    text-decoration: none;
    margin-left: 2vw;
}

.drop:hover{
    color: #5fbb79;
}


.footer{
    bottom: 0;
    position: fixed;
    margin-top: 3vw;
    width: 100%;
    padding: 10px ;
    background-color: rgb(210, 229, 215);
    
    justify-content:space-between;

}

.footer a:hover{
    color: #5fbb79;
}

button:hover{
    color: #5fbb79;
}

.overly{
    font-family: "Great Vibes";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 120px;
    margin-bottom: 40vw;
    color: #fdf0ea;
    width: 1500px;
    
    
}
.-continer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}
.-img{
    width: 100%;
    height: 700px;
    border-radius: 10%;
    object-fit: cover;
    

}

.overly p{
    font-family: "Great Vibes";
    color: #181818;
}

.overly .title{
    font-family: "Great Vibes";
    color: #181818;
    margin-left: 13vw;
    
    
}

.overly h1{
    color: #181818;
    font-size: 60px;
    margin-left: 30vw;
}

.box{
    background-color: rgba(222, 222, 222, 0.5);
    width: 100%;
    height:400px;
    margin-left: 5vw;
    margin-top: 10vw;
    border-radius: 10%;
    
}

.-search{
    width: 600px;
    margin-left: 28vw;

}

.x{
    font-size: 25px;
    font-family: "Great Vibes";
    
}


.-list{
    background-color: rgb(233, 237, 235);
}


.list-group-item{
    color: rgb(19, 27, 23);
    background-color: rgb(171, 183, 177);
}


.xx{
    font-size: 20px;
    font-family: "Great Vibes";
}

.-icon{
    color: rgb(19, 27, 23);
    font-size: 50px;
}

.cal-title{
    font-family: "Great Vibes";
    margin-left: 7vw;

}

.cal-title2{
    font-family: "Great Vibes";
    margin-left: 14vw;

}

.api-title{
    font-family: "Great Vibes";
    margin-left: 37vw;
}

.card{
    font-weight: 500;
    background-color: rgb(246, 249, 245);
    width: 430px;
    align-items: center;
    margin-left: 3vw;
    
    
}

.card a{
    color: #181818;
    font-weight: 700;
    font-size: 30px;
}

.cardimg{
    width: 428px;
    height: 300px;
    object-fit: cover;
    
}

.-body{
    border-radius: 10%;

}

.card-footer{
    background-color: rgb(224, 239, 219);
   width: 428px;
    
   
}
.text-footer{
    margin-left: 162px;
}

.card a:hover{
    color: #5fbb79;
}


.cat{
margin-top: 3vw;
width: 1200px;
height: 2px;
background-color: rgb(73, 86, 79);
border-radius: 10px;
justify-content:space-evenly;
margin-bottom: 5vw;



}

.cat a{
    color: #181818;
    font-size: 25px;
    margin-left: 3vw;
    
}
.cat a:hover{
    color: #5fbb79;
}





.project-info {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -50px;
  }
  
  .project-title {
    font-weight: 500;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
  }
  
  .project-title a{
    color: black;
    text-decoration: none;
  }


  .project-title a:hover{
    color: #5fbb79;
  }

  
  .lighter {
    font-size: 0.9em;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.tag {
    
    color: rgb(15, 171, 98);

  }
  
 
  

  
  .ccard {
    margin-top: 3vw;
    margin-left: 5vw;
    background-color: white;
    color: black;
    width: 400px;
    max-height: 400px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

 
  
  .card-img {
    position: relative;
    top: -20px;
    height: 100px;
    display: flex;
    
    
  }
 
  .card-img a,
  .card-img {
    height: 210px;
    width: 375px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(85, 88, 92, 0.2) 0px 2px 20px ;
    margin-left: 8px;
    
  }
  
  .card-imgs {
    transition: all 0.5s;
  }
  

.fav-card{
    width: 500px;
}


.profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    
    
    
  }
  .profile-img{
    margin-left: 3vw;
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 80%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #50a672;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  

  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
    margin-left: 2vw;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5bd18a;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5bd18a;
    background-color: #f6f9fb;
    border-left: 2px solid #5bd18a;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }

  
  a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
      -webkit-border-radius: 0!important;
      -moz-border-radius: 0!important;
      border-radius: 0!important;
  }
 
  .portlet {
      margin-top: 0;
      margin-bottom: 25px;
      padding: 0;
      border-radius: 4px;
  }
  .portlet.bordered {
      border-left: 2px solid #e6e9ec!important;
  }
  .portlet.light {
      padding: 12px 20px 15px;
      background-color: #fff;
  }
  .portlet.light.bordered {
      border: 1px solid #e7ecf1!important;
  }
  .list-separated {
      margin-top: 10px;
      margin-bottom: 15px;
  }
  .profile-stat {
      padding-bottom: 20px;
      border-bottom: 1px solid #f0f4f7;
  }
  .profile-stat-title {
      color: #7f90a4;
      font-size: 25px;
      text-align: center;
  }
  .uppercase {
      text-transform: uppercase!important;
  }
  
  .profile-stat-text {
      color: #50a672;
      font-size: 10px;
      font-weight: 600;
      text-align: center;
  }
  .profile-desc-title {
      color: #7f90a4;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
  }
  .profile-desc-text {
      color: #7e8c9e;
      font-size: 18px;
      text-align: center;
      margin-left: 7vw;
  }
  .margin-top-20 {
      margin-top: 20px!important;
  }
  [class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
      display: inline-block;
      line-height: 14px;
      -webkit-font-smoothing: antialiased;
  }
  .profile-desc-link i {
      width: 22px;
      font-size: 19px;
      color: #abb6c4;
      
      
  }
  
  .profile-desc-link{
    justify-content: center;
    text-align: center;
      
  }

.v{
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
