{% extends 'main/base.html' %}

{% block title %} Pinterest {% endblock %}


{% block content %} 

<div class=" container">
<div class="row text-center mt-4 ">
    <h1>Add new image</h1>
</div>
    <div class="col mt-4 ">
<div class="row justify-content-center">
        <form style="width:50% ;height: 200%; " action="{% url 'main:add_images' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
            {% csrf_token %}

            <input name="name" type="text" placeholder="Name" class="form-control" required minlength="5" />
            <textarea name="about" placeholder="About" class="form-control" required ></textarea>

            <div class="form-check form-switch">
                <input name="is_published" value="True" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">is publihed</label>
            </div>

            
            <h5>Category:</h5>
            <select name="category" class="form-select" aria-label="Default select example">
                {% for val, cat in category %}
                    <option value={{val}}>{{cat}}</option>
                {% endfor %}
            </select>

            <h5>Choose Image:</h5>
            <input name="image"  type="file"  accept="image/*" class="form-control"/>

            <input type="submit" class="btn btn-dark" value="Add Post" style="background-color: rgb(206, 194, 194); "/>
        </form>
    </div>


            

    </div>




</div>
{% endblock %}