{% extends 'main/base.html' %}

{% block title %} CONTACT US {% endblock %}


{% block content %}
<div class="container">
<div class="row">
    <div class="col">
    <div class="d-flex flex-column gap-2 mt-5">
         <img src="/static/images/wp5558882.jpg" class="w-100 rounded-4" />
   
   
    </div>
    </div>
   
   
   
        <div class="col md-6 mt-5 ">
        <h1 style="font-family:cursive;">Contact us </h1>
        <hr>
        <br>
        <form action="{% url 'main:contact' %}"  method="POST"  enctype="multipart/form-data" class="d-flex flex-column gap-2" >
               {% csrf_token %}
               <label for="text">Enter your first name:</label>
               <input type="text" name="f_name" placeholder="ex:Ahamd" class="form-control" required/>
               <br>
               <label for="text">Enter your last name:</label>
               <input type="text" name="l_name" placeholder="ex:Alfayz" class="form-control" required/>
               <br>
               <label for="email">Enter your email:</label>
               <input type="email" name="email" placeholder="ex:ahmad@gmail.com" class="form-control" required/>
               <br>
               <label for="text">Your message:</label>
                <textarea name="message" placeholder="Enter your message.." class="form-control " required></textarea>
                <input style="background-color: rgb(0, 0, 0);" type="submit" value="send"  class="btn btn-primary"/>
   
               </form>
   {% if user.is_staff%}
   <a href="{% url 'main:user_message'%}">show the message</a>{% endif %}
   
   </div>
   </div>
</div>
{% endblock %}