{% extends 'main/base.html' %}

{% block title %} Pinterest {% endblock %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ art.image.url }}"  class="mp-5" style="width: 500px; margin-top: 20px; margin-left: 20px; margin-bottom: 20px;"/>
                

            </div>
            <div class="col">
                <div class="d-flex flex-column gap-2 mt-4">
                    
                    <h1>{{ recipes.name  }}</h1>
                    <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{art.categroy}}">{{ art.category}}</h6>
                    <p>{{ art.content }}</p>
                    <p>{{art.time_coockin}}</p>
                    <p>{{art.number_people}}</p>
                    <h6>{{art.published_at}}</h6>
                    
                    <div class="d-flex gap-2">
                        <a style="color: blue; font-size:20px ;" href="" {% if not request.user.is_authenticated %} data-bs-toggle="modal" data-bs-target="#favoriteModal" {% endif %} class="text-decoration-none"><i class="bi {% if is_favored %} bi-heart-fill {% else %} bi-heart {% endif %} favorite"></i></a>
                        <a style="color: #414141; font-size: 20px;" href="#" class="mr-3 rounded-circle bi bi-download" alt="Generic placeholder image"></a>
                        {% if request.user.is_staff %} 
                            
                            <a href="{% url 'main:delete_images' art.id %}" class="btn btn mt-3 mp-5"  style="background-color: rgb(187, 27, 27);">Delete</a>

                        {% endif %}
                       
                    </div>
                    
                </div>
            </div>

            
            

    

    

    <div class="modal fade" id="favoriteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add Favorite</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <span class="material-symbols-outlined">
                favorite
                </span>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
    
            </div>
          </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6">
            {% if request.user.is_authenticated %}
            <form action="{% url 'main:add_comment' art.id %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data" >
                {% csrf_token %}
                <label for="content mt-5">Enter your comment:</label><br>
                <input type="text" name="content" class="form-control" placeholder="comment">

                <input type="submit" value="Add Comment" class="btn btn" style="background-color: rgb(161, 215, 145);"/>
            </form>
            {% else %}
            <div class="alert alert-warning">You must <a href="{% url 'account:login_user_view' %}">Sign in</a></div>
            {% endif %}
            
            
            
        </div>
        <div class="col-6 d-flex flex-column gap-4 mt-5 "  style="padding-right: 100px; justify-content: space-between;" id="comments">
        
                    
            {% for comment in comments %} 
                <div class="d-flex flex-column gap-2 shadow p-3 ">
                    <a href="{% url 'account:user_profile' comment.user.id %}" class="text-decoration-none"><h4>{{ comment.user.username }}</h4></a>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row p-4 mt-5">
        <h1>Related Plants</h1>
        {% for rel in related %}
        <div class="col-4">
            <div class="HS d-flex flex-column gap-1 border border-1 shadow p-3 rounded-4 h-100">
                <img src="{{ rel.image.url }}"  class="w-100 rounded-4"/>
                <h3><a href="{% url 'main:detail_images' rel.id %}" class="text-decoration-none" style="color: rgba(0, 0, 0, 0.582);">{{rel.name}}</a></h3>
                <!-- <h6 class="text-muted">{{ post.published_at }}</h6> -->
                <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{rel.category}}">{{ rel.category }}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
    



    </div>
</section>


{% endblock %}