{% extends 'main/base.html' %}

{% block title %} No Permission Page {% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="text-center">
        <img class="img-fluid mb-3" src="/static/images/No-Permission.png" style="max-width: 50%;" alt="No Permission Image">
        <h1> You do not have Permission to view the content</h1>
        <a style="background-color: rgb(67, 44, 197); border: 0; width: 30%;" href="{% url 'main:home' %}" class="btn btn-primary">Go back to Home Page</a>
    </div>
</div>




{% endblock %}