
.width{
    overflow-x: hidden;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/codemaster-960c5.appspot.com/o/pexels-photo-5380664.jpeg?alt=media&token=7c90888b-66ec-4c75-8de1-e1165034bb3d);
    background-repeat: no-repeat;
    background-size:cover;

}

 .width h1{
 font-size: 70px;
}
 .width p{
    font-size: 22px;
    padding: 7vh;
    
}

 .width a{
    width: 17vh;
    border: 2px white solid;
    font-size: 17px;
    border-radius: 30px;
    text-align: center;
   }



.pragraph p{
    font-size: 18px;
}

.text-style{
    color: black;
    
}
.text-style:hover{
    color: black;
}


.meie-script-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-1{
    font-size: 100px;
  }

  .rating {
    display: inline-block;
    opacity: 1;
  }
  
  .rating input {
    display: none;
    opacity: 1;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  /* .rating label:before {
    content: '\2605';
    font-size: 30px;
    transition: color 0.3s;
  } */
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #ffc300;
    transform: scale(1.2);
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
    animation: bounce 0.5s ease-in-out alternate;
  }
  
  @keyframes bounce {
    to {
      transform: scale(1.3);
    }
  }