{% extends 'main/base.html' %}



{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-sm-12 col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://firebasestorage.googleapis.com/v0/b/codemaster-960c5.appspot.com/o/about.jpg?alt=media&token=1c33db95-878f-4fd5-8083-10f2f1e9f3d4"alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
            <div class="col-md-6 col-sm-12 col-lg-7 d-flex align-items-center pragraph">
                <div class="card-body p-4 p-lg-5 text-black pragraph">
                    <p>Code Master is a leading software development company specializing in delivering innovative and high-quality solutions tailored to meet your unique business needs. With a team of experienced developers and a focus on cutting-edge technologies, we offer a comprehensive range of services, including full-stack web development, mobile app development, custom software development, and e-commerce solutions.
                        Our approach is centered around collaboration and transparency, ensuring that we understand your requirements, provide expert advice, and deliver solutions aligned with your business objectives. Using the latest frameworks and technologies, such as Django, React, and Angular, we create robust, scalable, and secure applications that drive your business forward.
                        With a commitment to client satisfaction, we prioritize delivering projects on time and within budget without compromising on quality. We follow industry best practices, conduct rigorous testing, and offer ongoing support and maintenance services to keep your application optimized and up-to-date.
                        Contact us today to discuss your project requirements and let us bring your vision to life. Together, we can create innovative solutions that propel your business to new heights.
                    </p>
                </div>
            </div>
            
                   </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
