    {% extends 'main/base.html' %}


    {% block content %}
    <div class="container">
        <div class="row   justify-content-center width">
            <div class="col-12  col-sm-12 d-flex align-items-center text-white">

                <h1 class="p-5 ">Web <br>development <br>services</h1>
                <p class="text-start">
                    Looking for professional web development services to bring
                    your dream website’s vision to life? Look no further <br><br>
                    With our custom development services, you can create a
                    unique online experience for your customers. Every detail
                    will be tailored to your preferences, ultimately helping you
                    achieve and surpass your business goals.
                </p>
            </div>

            <div class="col-12  col-sm-12 d-flex align-items-center text-white">
                <a href="{% url 'requests:order_page' %}" class="text-decoration-none text-white  ">ORDER NOW</a>
            </div>

        </div>

    </div>
    
    {% endblock %}