{% extends 'main/base.html' %}
{% block content %}
<div class="container ">

  
        <div class="row">
            <div class="col-12 col-md-12 text-center  ">
                <img class="w-50" src="https://firebasestorage.googleapis.com/v0/b/codemaster-960c5.appspot.com/o/207-2073352_open-hidden-icon-png.png?alt=media&token=16162cbb-d97e-47e5-814b-5e6262f79116" alt="">
            </div>
            <div class="col-12 col-md-12 text-center mt-4">

                <h1>You don't have permission to view this page</h1>
            </div>
        </div>
   
  
</div>

{% endblock %}