* {
    font-family:'Gill Sans';
}

/* Navbar */
#navbarNav{
    justify-content: center;
  }
  
  .navbar-nav{
    flex-direction: column;
    text-align:center;
    justify-content:center;
    column-gap: 30px;
  }

  .navbar{
      transition: all 0.5s;
  }

  .navbar-nav a {
    font-weight: bold;
    color: #000;
  }
  .navbar-nav a:hover {
    color: #0e7717ce;
  }
  
.navbar-scrolled{
    background-color: rgba(119, 119, 119, 0.596);
    box-shadow:rgba(0, 0, 0, 0.15);
}

.navbar-scrolled a{
  color: #3a3a3a;
}
.navbar-scrolled a:hover{
    color: #147228;
  }

/* Home Page */
.image-container {
    margin-top: 55px;
    background-image: url("/static/images/plants.webp");
    background-size: cover;
    position: relative;
    height: 500px;
    opacity: 50%;
}

.p {
    color: #000;
    align-items: center;
}
.text {
    /* background-color: rgba(255, 255, 255, 0.61); */
    color: rgb(255, 255, 255);
    font-size: 3vw; 
    font-weight: bold;
    margin: 43px auto;
    padding: 20px;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
  }

.search-bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 350px;
    padding-bottom: 10px;
}

/* Update Page */
input[type="radio"] {
    display: inline;
    margin-right: 10px;
  }

.thumb {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
}

/* All Recipes */
.cat {
    background-color: rgba(21, 155, 81, 0.377);
    color:white;
    align-self: flex-start;
}

.Pasta {
    background-color: rgba(255, 0, 0, 0.473);
}
.Pasta:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.473);
}

.Soup {
    background-color: rgba(228, 183, 37, 0.473);
}
.Soup:hover {
    box-shadow: 0 0 20px rgba(228, 183, 37, 0.473);
}

.Chicken {
    background-color: rgba(131, 32, 2, 0.664);
}
.Chicken:hover {
    box-shadow: 0 0 20px rgba(131, 32, 2, 0.664);
}

.Salad {
  background-color: rgba(0, 128, 0, 0.473);
}
.Salad:hover {
  box-shadow: 0 0 20px rgba(0, 128, 0, 0.473);
}

/* Profile */
.avatar {
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
}

.avatar2 {
  height: 200px;
  object-fit: cover;
}

/* Saved */
.bookmark {
  font-size: 2rem;
  color: rgb(255, 166, 0);
}