{% extends 'main/S1.html' %}

{% block content %}
<div class="container mt-5" style="padding-top: 150px; background: url('/static/image/black-logo.webp') no-repeat center center; height: 1000px; ">

</div>
<div class="container mt-5" style="padding-top:125px ; padding-bottom: 125px;">
    <h1>About Us</h1>
    <h3>Welcome to Story hub, where we bring you closer to the stories that matter.</h3><br>
    <h1>Our Mission</h1>
    <h3>Our mission is to empower and entertain people through innovative storytelling technology.
        we have grown from a small startup to a leading player in the storytelling space.</h3>
</div>
{% endblock %}
