{% extends 'main/S1.html' %}
{% block content %}
{% block title %}  Stories in {{ category_name }} </title>{% endblock %}


<div class="container body-wrapper" style="padding: 50px;">



    <h2 style="padding: 50px;"> <b> {{ category_name }} Stories </b></h2>

        <div class="row">
        {% for story in stories %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                {% if story.image %}
                <img src="{{ story.image.url }}" alt="{{ story.name }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ story.name }}</h5>
                    <p class="card-text">{{ story.description|default:"No description available." }}</p>
                    <a href="{% url 'main:show_story' pk=story.pk %}" class="btn btn-primary">Read Story</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No stories found in this category.</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
