{% extends 'main/S1.html' %}

{% block content %}
<div class="container mt-5" style="padding-top:125px ;">
    <h1>Frequently Asked Questions (FAQ)</h1><hr>
    <h2>What services do you offer?</h2>
    <p>We provide a platform for creating and sharing interactive stories powered by AI.</p>
    <h2>How can I create my own story?</h2>
    <p>Simply navigate to our 'Create Story' page and start adding your content or use our AI assistant to generate a story for you.</p>
    <h2>Is there a subscription fee?</h2>
    <p> we offer free subscription plan for now.</p>
    <h2>How do I contact support?</h2>
    <p>You can contact us through our contact page or email us directly at support@yourcompany.com.</p>
</div>
{% endblock %}
