{% extends 'main/S1.html' %}
{% load static %}
{% block title %} <title>HOME</title> {% endblock %}
{% block content %}
<div class="main-box">
    <div class="box1">
      <video class="video1" width="100%" height="100%" muted autoplay loop>
        <source src="#" type="video/mp4">
    </div>
  </div>
  {% csrf_token %}

  <h2 style="padding: 50px;"> <b> Categorys </b></h2><br>

<div class="container-all" >
    <div class="main-box1" style="background-image:url(/static/image/fun.webp);">
        <a href="{% url 'main:category_stories' 'Fun' %}"></a>
    </div>
    
    <div class="main-box1" style="background-image:url(/static/image/horror-category.webp); ;">
        <a href="{% url 'main:category_stories' 'Horror' %}"></a>
    </div>
    <div class="main-box1" style="background-image:url(/static/image/Science-Fiction.webp); ;">
        <a href="{% url 'main:category_stories' 'Science Fiction' %}"></a>
    </div>
    <div class="main-box1" style="background-image:url(/static/image/Adventure.webp); ;">
        <a href="{% url 'main:category_stories' 'Adventure' %}"></a>
    </div>
    <div class="main-box1" style="background-image:url(/static/image/Mystery.webp); ;">
        <a href="{% url 'main:category_stories' 'Mystery' %}"></a>
    </div>
    <div class="main-box1" style="background-image:url(/static/image/Romance.webp); ;">
        <a href="{% url 'main:category_stories' 'Romance' %}"></a>
    </div>

</div>
<div class="container">


</div>
<footer class="my-footer">
    <h5>footer</h5>
</footer>
{% endblock %}
