{% extends 'main/S1.html' %}
{% load static %}
{% block title %}  {% endblock %}
{% block content %}
<div class="main-box">
    <div class="box1">
      <video class="video1" width="100%" height="100%" muted autoplay loop>
        <source src="#" type="video/mp4">
    </div>
  </div>
  {% csrf_token %}

<h2 style="padding: 50px;"> <b> Categorys </b></h2>
<div class="container-all">

    <div class="main-box1">
        <a href="#"></a>
    </div>
    <div class="main-box1">
        <a href="#"></a>
    </div>
    <div class="main-box1">
        <a href="#"></a>
    </div>
    <div class="main-box1">
        <a href="#"></a>
    </div>

</div>
{% endblock %}
