{% extends 'main/S1.html' %}
{% block title %} READ STORY ({{ story.name }}) {% endblock %}
{% block content %}
<div class="container mt-4" >
    {% if story.image %}
    <img src="{{ story.image.url }}" alt="{{ story.name }}" class="img-fluid mb-3">
    {% endif %}
    <div class="story-segment card card-body" style="margin-top: 125px;">
        <h1 class="S-head">{{ story.name }}</h1>
        <hr>
        {{ page_obj.object_list|first|linebreaks }}  
    </div><br><br>
    
    <nav aria-label="Page navigation">
        <nav aria-label="Page navigation" class="d-flex justify-content-between align-items-center">
            <ul class="pagination mb-0">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        
            {% if user.is_authenticated %}
            <div>
                {% if is_bookmarked %}
                <a href="{% url 'bookmarks_likes:toggle_bookmark' story_id=story.pk %}" class="btn btn-secondary" style="margin-left: 15px;">Remove from Bookmark</a>
                {% else %}
                <a href="{% url 'bookmarks_likes:toggle_bookmark' story_id=story.pk %}" class="btn btn-secondary">Bookmark</a>
                {% endif %}
            </div>
            {% endif %}
        </nav><br><br>
        

        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'bookmarks_likes:toggle_like' story_id=story.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Toggle Like</button>
                </form>
            {% else %}
                <p><a href="{% url 'user_info:user_login' %}">Log in to like this story</a></p>
            {% endif %}
            <p>{{ story.liked_by.count }} Likes</p>
        </div>
    </nav><br>

    {% if request.user.is_authenticated and request.user.is_staff or request.user == story.user %}
    <div class="edit-story-buttons">
        <a href="{% url 'main:update_story' pk=story.pk %}" class="btn btn-secondary">Update Story</a>
        <form action="{% url 'main:delete_story' pk=story.pk %}" method="post" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this story?');">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Story</button>
        </form>
    </div>
    {% endif %}
</div>

<div class="container mt-3 card">
    <h2>Add Comment</h2>
    {% if request.user.is_authenticated %}
        <form action="{% url 'main:add_comment' story_id=story.pk %}" method="post">
            {% csrf_token %}
            <br>
            <div class="mb-3">
                <textarea name="content" id="content" class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    {% else %}
        <p>Please <a href="{% url 'user_info:user_login' %}">log in</a> to leave a comment.</p>
    {% endif %}
</div>

<hr>
<h2 style="padding: 25px;">Comments</h2>
<div class="container">
    <div class="row">
        <div class="col">
            {% if comments %}
                {% for comment in comments %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><b>@{{ comment.user.username }}</b></h5>
                            <p class="card-text">{{ comment.content }}</p>
                            {% if request.user == comment.user or request.user.is_staff %}
                            <a href="{% url 'main:delete_comment' comment_id=comment.id story_id=story.pk %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
            {% else %}
                <p>No comments yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
