{% extends 'main/base.html' %}

{% block title %} {{user.username}} profile{% endblock %}
{% load static %}
{% block content%}
<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <h2>@ {{user_object.username}}</h2>
      <img  src="{{user_object.profile.avatar.url}}"  style="width: 100% ">
    </div>

    <div class="col-md-8 mt-5">
      <div class="card shadow" style="width: 45rem; text-align: center; height: 100%; background-color: rgb(255, 255, 255);">
          <div class="card-body ">
    
              <h5 class="card-title">Profile</h5>
              <h6 class="card-title">User Information:</h6>
              <h6 class="card-title">Username:</h6>
              <p class="card-text">{{user_object.username}}</p>
              <h6 class="card-title">First Name:</h6>
              <p class="card-text">{{user_object.first_name}}</p>
              <h6 class="card-title">Last Name:</h6>
              <p class="card-text">{{user_object.last_name}}</p>
              <h6 class="card-title">Email:</h6>
              <a href="mailto:{{user.email}}" class="text-decoration-none text-dark p-0 "><p class="card-text">{{user_object.email}}</p></a>
              {% if request.user.is_authenticated %}
                 <a href="{% url 'account:update_profile'  %}" class="card-link btn btn-dark text-decoration-none ">update</a>
              {% endif%}
          </div>
      </div>
    </div>

      <hr>
  <div class="row g-3">
    
      <h4>{{user.username}} comments:</h4>
      {% for comment in user.comment_set.all %}
        <div class="col-4">
            <div class="d-flex flex-column gap-2 border border-1 shadow p-2 rounded-3 h-100">
                
                <a href="{% url 'main:detail_images' comment.user.username %}#comments"><img src="{{ comment.Blog.image.url }}" width="200px" height="300px"></img></a>
                <p>{{ comment.content }}</p>
            </div>
        </div>
        {% endfor %}
  
    </div>
    {% if request.user.is_authenticated %}
          <a style="color:rgb(0, 0, 0); font-size: larger;" href="?user={{request.user.username}}" class="p-2 ps-3 pe-3 text-decoration-none">My Posts</a>{% endif %}
                
    </div>
</div>

{% endblock %}