{% extends 'main/base.html' %}

{% block title %}Register New User{% endblock %}

{% block content %}
<div class="container">
    {% if msg %}
        <div class="alert alert-danger ">{{msg}}</div>
    {% endif %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 mt-5">
            <div class="login-form p-4 bg-light rounded text-center">
            <h1 style="font-family: cursive;">Register New User</h1>
            <form action="{% url 'account:register_user_view' %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data">
                {% csrf_token %}

                <input name="username" class="form-control" type="text" minlength="3" required placeholder="Username" />
                <input name="first_name" class="form-control" type="text" minlength="3" required placeholder="First Name" />
                <input name="last_name" class="form-control" type="text" minlength="3" required placeholder="Last Name" />
                <input name="email" class="form-control" type="email" minlength="3" required placeholder="Email" />

                <textarea name="about" class="form-control" placeholder="About yourself"></textarea>
                <input name="instagram_link" class="form-control" type="text" placeholder="@Instagram link" />
                

                <h4 style="font-family: cursive;">Choose Avatar:</h4>
                <input type="file" class="form-control" name="avatar" />

                <input name="password" class="form-control" type="password" minlength="6" required placeholder="Password" />

                <input type="submit" class="btn btn-primary mt-3" value="Sign Up" style="background-color: black;" />
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
