{% extends "main/base.html" %}

{% block title %}BootCamps{% endblock  %}

{% block content %}
<div class="row">
    <div class="col">
        {% comment %} <a href="{% url "bootcamp:new_bootcamp" %}">add new bootcamp</a> {% endcomment %}
        
        <h6>Add new bootcamp<a href="{% url "bootcamp:add_bootcamp" %}" class="text-dark"><i class="bi bi-plus-square"></i></a></h6>

        {% for bootcamp in bootcamps  %}
        <div class="border border-2">
       <a href="{% url "bootcamp:bootcamp_details" bootcamp.id %}"> {{bootcamp.bootcamp_name}}</a>

    </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}