{% extends "main/base.html" %}

{% block title %}{{bootcamp.bootcamp_name}}{% endblock  %}

{% block style %}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  

  tr:nth-child(even) {
    background-color: #dddddd;
  }


{% endblock  %}




{% block content  %}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
            
                {{bootcamp.bootcamp_name}}
                {{bootcamp.desc}}
                <table>
                    <tr>
                      <th>Student Name</th>
                      <th>Attendence Rate</th>
                      <th>Grades</th>
                      <th>Profile</th>
                    </tr>
                {% for student in students %}

                    <tr>
                      <td>{{student.user.first_name}} {{student.user.last_name}}</td>
                      {% for e in student.evaluation_set.all %}
                      <td>{{e.attendance_rate}}%</td>
                      <td>{{e.grades_rate}}</td>
                      {% empty %}
                      <td></td>
                      <td></td>
                    {% endfor %}
                      <td><a href="{% url "student:student_profile" student.user.username%}" class=" button-56" id="profile">Profile</a> </td>
                    </tr>
                {% endfor %}
                      
            </div>  
        </div>
    </div>

</section>

{% endblock %}


i want to enter the attendence rate and grades rate for each student by there as a form ! 
