{% extends 'main/base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="mt-5">
                <div class="mt-3">
                    <h1 class="mt-3">Booking Successl</h1>
                </div>
                <div>
                    <p class="lead">Congratulations! Your booking was successful.</p>
                    <a href="{% url 'main:index_view' %}" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
