@import url("base.css");

@import url("product.css");

@import url("contactus.css");

@import url("cart.css");

.direction-none {
  direction: unset;
}

cards.index {
  overflow-x: scroll;
}

.more-btn {
  a {
    color: var(--text);
  }
}

/* banner */
.carousel-item img {
  height: 430px !important;
}