{% extends 'main/base.html' %}

{% block title %}Register New User{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Register New User</h1>
    {% if msg %}
    <div class="alert alert-danger">{{msg}}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="{% url 'accounts:register' %}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                {% csrf_token %}

                <style>
                    .container {
                        margin-top: 150px;
                        width: 2000px;
                    }

                    .form-label {
                        font-weight: bold;
                    }

                    .form-control {
                        margin-bottom: 15px;
                    }

                    .btn-primary {
                        background-color: #000000;
                        border-color: #010f1d;
                    }

                    .btn-primary:hover {
                        background-color: #0056b3;
                        border-color: #0056b3;
                    }
                </style>

                <div class="mb-0">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" name="username" class="form-control" type="text" minlength="3" required placeholder="Username" />
                    <div class="invalid-feedback">
                        Please enter a valid username (minimum 3 characters).
                    </div>
                </div>

                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input id="first_name" name="first_name" class="form-control" type="text" minlength="3" required placeholder="First Name" />
                    <div class="invalid-feedback">
                        Please enter a valid first name (minimum 3 characters).
                    </div>
                </div>

                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input id="last_name" name="last_name" class="form-control" type="text" minlength="3" required placeholder="Last Name" />
                    <div class="invalid-feedback">
                        Please enter a valid last name (minimum 3 characters).
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" class="form-control" type="email" required placeholder="Email" />
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" name="password" class="form-control" type="password" minlength="6" required placeholder="Password" />
                    <div class="invalid-feedback">
                        Please enter a valid password (minimum 6 characters).
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% block footer %}
   
    {% endblock %}
{% endblock %}
