{% extends "main/base.html" %}

{% block title %}Profile{% endblock title %}

{% block content %}
<main class="mt-5">
    <div class="row">
        <div class="col d-flex flex-column align-items-center m-5">
            <p>Username: {{user_object.username}}</p>
            <p>Phone Number: <a class="text-dark" href="tel:{{ user_object.profile.phone }}">{{ user_object.profile.phone }}</a></p>
            <p>Email: <a class="text-dark" href="mailto:{{user_object.email}}">{{user_object.email}}</a></p>
            <p>Name: {{user_object.first_name}} {{user_object.last_name}}</p>
            <p>Points: {{user_object.profile.points}}</p>
        </div>
    </div>
</main>
{% endblock content %}