{% extends 'main/base.html' %}




 {% block content %}
 


 <div class="row mt-5 ">
 <div class="col-md-12">
 <div class="d-flex justify-content-center align-items-center">
 <div class="r-title-box">
 <h1 class="r-title">{{recipe.title}}</h1><br></div>
 </div>
  </div>
  </div>

<div class="row">
 <div class="col-md-12 ">
<img class="user-recipe-img"src="{{ recipe.image.url }}" />

<br>
<a href="{% url 'favorites:add_remove_favorites_view' recipe.id %}" {% if not request.user.is_authenticated %} data-bs-toggle="modal" data-bs-target="#favoriteModal" 
{% endif %} class="text-decoration-none"><i class="bi {% if is_favored %} bi-heart-fill {% else %} bi-heart {% endif %} favorite"></i></a>

</div>
</div>

<div class="row mt-5">
<div class="user-recipe-box">
<div class=" user-recipe-detial col mt-1 md-10 ">

        
        <a href="{% url 'interactive:update_recipe_page' recipe.id %}" class="btn btn-primary">update</a>
        <a href="{% url 'interactive:delete_recipe_view' recipe.id %}" class="btn btn-danger">Delete</a>
        
        
        <h4 class=" nut mt-5"><strong>{{recipe.title}}</strong></h4>
        
        
        <h4>By :</h4><a href="{% url 'accounts:user_profile_page' user.id %}" ><h4>@{{ recipe.user.username }}</h4></a>
        <br>
        <p class="nut1"><strong>Category :</strong>{{recipe.category}}</p>
        <p class="nut2"><strong>Quantity :</strong> {{recipe.quantity}} Grams</p>
        <p class="nut3"><strong>Calories :</strong>{{recipe.calories}}</p>
        <br>
        <p><strong class="nut">Ingredients :</strong><br>{{recipe.ingredients}}</p>
        <br>
        <p><strong class="nut" >How to prepare :</strong><br>{{recipe.about}}</p>
        
    </div>
    </div>
</div>

 <br>
<br>
<div class="r-con">
<div class="line2">
  <div class="s-r-title-box2">
  
 </div>
 </div>
 </div>
 <div class="d-flex justify-content-center align-items-center">
 <h1 > Leave a comment for {{ recipe.user.username }} recipe</h1></div>
 
<div class="row mt-5">
    <div class="col md-6">
     <div class="d-flex justify-content-center align-items-center">
    </div>
    <br><br>
    <div class="add-comment">
 <form action="{% url 'interactive:comments_view' recipe.id %}" method="post" class="d-flex flex-column gap-2">
    {% csrf_token %}
    <textarea name="content"  placeholder="text your comment here" style="height:400px;" class="  form-control hight-100" required></textarea>

    <input type="submit" value="Add Comment" class="btn btn-outline-success"/>
    </form>
    
    </div>
    </div>




<div class="col md-6">

<div class="comment-box">


{% for comment in comments %}
<div class="col mt-2">
<div class="card22">
  <div class="header11">
    <div>
      <a class="title11" href="{% url 'accounts:user_profile_page' comment.user.id %}">
        {{ comment.user.username }} </a> <p class="name" >just commented</p>
    </div>
      <span class="image11"><div>
      <img class="image11" src="{{comment.user.profile.avatar.url}}">
      </div></span>
  </div>
    <p class="description">
      {{ comment.content }}
    </p>
  <dl class="post-info">
    <div class="cr">
      <dd class="dd">{{ comment.created_at}}</dd>
    </div>
  </dl>
</div>
</div>
{% endfor %}


</div>





</div>
</div>



<br>
<br>
<br>
<div class="r-con">
<div class="line2">
  <div class="r-title-box2">
  
 </div>
 </div>
 </div>

{% if recipes.count != 0%}
 <div class="d-flex justify-content-center align-items-center">
 <h1>Read More For {{ recipe.user.username }}</h1>
 </div>
{% endif %}
 <div class=" row ">
  {% for recipe in recipes %}
    <div class="col-md-4 mt-5">

  <article class="ccard2 ">
  <div class="im">
  <div class="card-img2">
    <img class="card-img2 " src="{{recipe.image.url}}" class="card-img-top" alt="...">
  </div>
   </div>
    
  <div class="project-info">
  <div class="user-card">
  <img class="rounded-circle shadow-1-strong me-3"
        src="{{recipe.user.profile.avatar.url}}" alt="avatar" width="40"
         height="40" />
         <div class="mt-3"><a href="{% url 'accounts:user_profile_page' recipe.user.id %}" ><p>@{{ recipe.user.username }}</p></a></div>
         </div>
    <div class="flex">
      <div class="project-title">
      <a href="{% url 'interactive:user_recipe_detail_page' recipe.id  %}">{{recipe.title}}</a>
      </div>
    </div>
    <span class="lighter">
     Category : {{recipe.category}} <br>
      Calories : {{recipe.calories}}</span>
  </div>
</article>
  </div>
    {% endfor %}

  </div>


 {% endblock %}
