{% extends 'main/base.html' %}
{% load static %}


{% block content %}


 <div class=" contact-row row ">
  <article class="ccard-form4  ">
  <div class="im">
  <div class="card-img-login">
    <img class="card-img-login " src="{% static 'images/homeimg.jpg'%}" class="card-img-top" alt="...">
  </div>
   </div>
    
  <div class="project-info">
  
            <form action="{% url 'accounts:update_user_profile_view' request.user.id %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data">
                {% csrf_token %}
                 <label for="html">first name:</label>
                <input name="first_name" class="form-control" type="text" minlength="3"  value="{{ acc.first_name }}"  />
                 <label for="html">last name:</label>
                <input name="last_name" class="form-control" type="text" minlength="3" value="{{ acc.last_name }}"  />
                 <label for="html">Email :</label>
                <input name="email" class="form-control" type="email" minlength="3"  value="{{ acc.email }}"  />
            
                <label for="html">Bio :</label>
                <textarea name="about" class="form-control" > {{ info.about }} </textarea>

                 <h5>Choose avatar:</h5>
                <img src="{{ info.avatar.url }}" class="update-img" />
                <input name="avatar"  type="file"  accept="image/*" class="form-control"  />
                <input type="submit" class="b btn " value="Update" />

            </form>
      </div>
</article>
 


  </div>
{% endblock %}