{% extends 'main/base.html' %}

{% block title %} {{user.username}} Profile information{% endblock %}

{% block content %}

 <div class="row">
 <div class="col">
 <div class="d-flex flex-column gap-2">
      <img src="{{user.profile.avatar.url}}" class="w-100 rounded-4" />


 </div>
 </div>
        <div class="col">
         <div class="user-info d-flex flex-column gap-2">
         <div class="info">
        <h4 class="info"> Username:{{user.username}}</h4>
        <p>Name :{{user.first_name}} {{user.last_name}}</p>
        <p>Email</p><a href="mailto:{{user.email}}">{{ user.email }}</a>
        <p class="mt-2">Bio : <br>{{ user.profile.about }}</p>
                
                {% if request.user.id == user.id %}
                    <a href="{% url 'accounts:update_user_profile_view' user.id  %}" class="btn btn-primary">update</a>
                {% endif %}
                </div>
           
        </div>
</div>


<div class="card">
  <div class="imgg">
  <img class="imgg" src="/static/images/searchimg.jpg" />
  </div>
  <div class="textBox">
    <div class="textContent">
      <p class="h1">Clans of Clash</p>
      <span class="span">12 min ago</span>
    </div>
    <p class="p">Xhattmahs is not attacking your base!</p>
  <div>
</div></div></div>


 <div class=" row ">
 <h1>{{user.username }} favorites Recipes</h1>
  {% for favorite in user.recipefavorite_set.all %}
    <div class="col-md-2 mt-5">

  <article class="ccard">
  <div class="im">
  <div class="card-img">
    <img class="card-img " src="{{favorite.recipe.image.url }}" class="card-img-top" alt="...">
  </div>
   </div>

  <div class="project-info">
    <div class="flex">
      <div class="project-title">
      <a href="{% url 'main:detail_recipe_page' favorite.recipe.id  %}">{{favorite.recipe.title}}</a>
      </div>

      <span class="tag">{{favorite.recipe.category }}</span>
    </div>
    <span class="lighter"
      >Quantity: {{favorite.recipe.quantity}} <br>
      Calories : {{favorite.recipe.calories}}</span>
  </div>
</article>
  </div>
    {% endfor %}

  </div>
       

    <div class="col md-6">
    <h1>{{user.username }} Users Recipes favorites</h1>
        {% for favorite in user.favorite_set.all %}
        <div class="col-4">
            <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                <img src="{{ favorite.recipe.image.url }}"  class="w-100 rounded-4 card-poster "/>
                <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{favorite.recipe.category}} ">{{ favorite.recipe.category }}</h6>
                <h2><a href="{% url 'interactive:user_recipe_detail_page' favorite.recipe.id  %}" class="text-decoration-none">{{favorite.recipe.title}}</a></h2>   
            </div>
        </div>
    {% endfor %}
    </div>



        </div>
        
<div class="row">
<div class="col md-6">
<h1>{{user.username }} comments</h1>
<section >
  <div class="container text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="card">
          </div>
        </div>
        {% for comment in user.usercomment_set.all %}
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-start">
              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-primary fw-bold mb-0">
                  <h5 class="card-title"><a href="{% url 'interactive:user_recipe_detail_page' comment.recipe.id  %}" class="text-decoration-none">{{comment.recipe.title}}</a></h5>
                  </h6>
                  <p class="">{{ comment.created_at}}</p>
                </div>
                <p class="text-dark ms-2">{{ comment.content }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </section >

</div>

</div>


    </div>
  </div>
  {% endblock %}