{% extends 'main/base.html' %}
{%load mathfilters %}

{% block title %} {{user.username}} Profile information{% endblock %}

{% block content %}

  <div class="profile-container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
        <div class="profile-img">
					<img src="{{user.profile.avatar.url}}" class="img-responsive" alt="">
				</div>
        </div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						@{{user.username}}
					</div>
          <p>Name :{{user.first_name}} {{user.last_name}}</p>
					
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					{% if request.user.id == user.id %}
                    <a href="{% url 'accounts:update_user_profile_view' user.id  %}" class="btn btn-primary">Edit profile info</a>
                {% endif %}
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#rec">
							<i class="glyphicon glyphicon-home"></i>
							Recipes </a>
						</li>
						<li>
							<a href="#rec">
							<i class="glyphicon glyphicon-user"></i>
							Favorites </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Comments </a>
						</li>
						<li>
							
					</ul>
				</div>
				<!-- END MENU -->

			   
 <div class="portlet light bordered">
 <!-- STAT -->
<div class="row list-separated profile-stat">
 <div class="col-md-4 col-sm-4 col-xs-6">
 <div class="uppercase profile-stat-title"> {{ user.usercomment_set.all.count }} </div>
 <div class="uppercase profile-stat-text"> Comments </div>
 </div>
 <div class="col-md-4 col-sm-4 col-xs-6">
 <div class="uppercase profile-stat-title"> {{ user.userrecipe_set.all.count }} </div>
<div class="uppercase profile-stat-text"> recipes </div>
</div>
 <div class="col-md-4 col-sm-4 col-xs-6">
<div class="uppercase profile-stat-title"> {{ user.recipefavorite_set.all.count|add:user.favorite_set.all.count }}</div>
<div class="uppercase profile-stat-text"> Favorites </div>
 </div>
 </div>
<!-- END STAT -->
<div>
  <h4 class="profile-desc-title">About {{user.username}}</h4>
 <span class="profile-desc-text"> {{ user.profile.about }} </span>
 <div class="margin-top-20 profile-desc-link">
<i class="fa fa-globe"></i>
 <p class ="profile-desc-link">Contact {{user.username}} via email</p><a href="mailto:{{user.email}}">{{ user.email }}</a>
 </div>
 </div>
 </div>                   
                                           
        
        
</div>
</div>


<!--profile content-->

<div class="col-md-9">
<div class="profile-content">
	<!--start-->
<div class="row"></div>
<div id="rec" class="row">
    <h4>{{user.username }}'s Favorites Recipes</h4>
        {% for favorite in user.recipefavorite_set.all %}
        <div class=" v col-4">
            <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                <img src="{{ favorite.recipe.image.url }}"  class="w-100 rounded-4 card-poster "/>
                <h6 >{{ favorite.recipe.category }}</h6>
                <h3><a href="{% url 'main:detail_recipe_page' favorite.recipe.id  %}">{{favorite.recipe.title}}</a> </h3>   
            </div>
        </div>
    {% endfor %}
    </div>
        




<div class="row">
    <h4>{{user.username }}'s Favorites Users Recipes</h4>
        {% for favorite in user.favorite_set.all %}
        <div class=" v col-4">
            <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                <img src="{{ favorite.recipe.image.url }}"  class="w-100 rounded-4 card-poster "/>
                <h6 class=" {{favorite.recipe.category}} ">{{ favorite.recipe.category }}</h6>
                <h2><a href="{% url 'interactive:user_recipe_detail_page' favorite.recipe.id  %}" class="text-decoration-none">{{favorite.recipe.title}}</a></h2>   
            </div>
        </div>
    {% endfor %}
    </div>



<div class="row">
<h1>{{user.username }} comments</h1>
<div class="col md-6">
<section >
  <div class="container-commnt text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="com-card">
          </div>
        </div>
        {% for comment in user.usercomment_set.all %}
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-start">
              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-primary fw-bold mb-0">
                  <h5 class="card-title"><a href="{% url 'interactive:user_recipe_detail_page' comment.recipe.id  %}" class="text-decoration-none">{{comment.recipe.title}}</a></h5>
                  </h6>
                  <p class="">{{ comment.created_at}}</p>
                </div>
                <p class="text-dark ms-2">{{ comment.content }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </section >

</div>

</div>


    </div>
  </div>



        </div><!--end row contant-->
         



<!--end-->
            </div>
		</div>
	</div>
</div>
  {% endblock %}