{% extends 'main/base.html' %}

{% block title %} {{user.username}} Profile information{% endblock %}

{% block content %}

 <div class="row">
 <div class="col">
 <div class="d-flex flex-column gap-2">
      <img src="{{user.profile.avatar.url}}" class="w-100 rounded-4" />


 </div>
 </div>
        <div class="col">
         <div class="user-info d-flex flex-column gap-2">
         <div class="info">
        <h4 class="info"> Username:{{user.username}}</h4>
        <p>Name :{{user.first_name}} {{user.last_name}}</p>
        <p>Email</p><a href="mailto:{{user.email}}">{{ user.email }}</a>
        <p class="mt-2">Bio : <br>{{ user.profile.about }}</p>
                
                {% if request.user.id == user.id %}
                    <a href="{% url 'accounts:update_info' user.id  %}" class="btn btn-primary">update</a>
                {% endif %}
                </div>
           
        </div>
</div>



  {% endblock %}