{% extends 'main/base.html' %}

{% block title %} TASTY RECIPES | ALL RECIPES {% endblock %}


{% block content %}
<div class="container">
    <div class="row g-4 mt-5">

        <div class="d-flex justify-content-between align-items-center">
            <h2>{% if 'cat' in request.GET %} {{request.GET.cat}} {% else %} All {% endif %}Recpies ({{ recipes.count }}) </h2>
        </div>
    
    </div>
    
    <div class="row">
        <div class="col">
            <div class="d-flex gap-2 justify-content-center">
                <a href="{% url 'main:all_recipes' %}" class="p-2 ps-3 pe-3 rounded-pill cat  text-decoration-none  {% if 'cat' not in request.GET %} All  {% endif %}">All</a>
                {% for val, key in category %}
                    <a href="?cat={{val}}" class="p-2 ps-3 pe-3 rounded-pill cat {% if request.GET.cat == val %} {{ val }}{% endif %} text-decoration-none">{{val}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    
        <div class="row mt-2 g-5">
    
            {% for recipe in recipes %}
                <div class="col-4">
                    <div class="HS d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                        <img src="{{ recipe.image.url }}"  class="w-100 rounded-4"/>
                        <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{recipe.category}}">{{ recipe.category }}</h6>
                        <h3><a href="{% url 'main:recipe_detail' recipe.id %}" class="text-decoration-none" style="color: rgba(0, 0, 0, 0.582);">{{recipe.title}}</a></h3>
                        </div>
                </div>
            {% endfor %}
        </div>
    
        <div class="row mt-5">
            <div class="col d-flex gap-2 justify-content-center">
                {% for page in pages_count %}
                    <a href="?page={{page}}{% if 'cat' in request.GET %}&cat={{request.GET.cat}}{% endif %}" class="btn border {% if request.GET.page == page %} btn-outline-dark {% elif page == '1' and 'page' not in request.GET %} btn-outline-dark {% endif %}">{{page}}</a>
                {% endfor %}
            </div>
    
        </div>
</div>
{% endblock %}