{% extends 'main/base.html' %}

{% block title %} TASTY RECIPES | {{ recipe.title }} {% endblock %}

{% block style %}
<style>
/* Ingredients Style */
aside:before, aside:after {
    height: 0;
    width: 0;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0;
}

aside {
    margin: 10px 0;
    line-height: 34px;
    position: relative;
    width: 200PX;
    display: inline-block;
    font-size: 25px;
}

aside.ribbon3 {
    background-color: rgb(250, 208, 118);
}
aside.ribbon3:after, aside.ribbon3:before {
    border-width: 14px 0 20px 20px;
}
aside.ribbon3:before {
    border-color: rgb(250, 208, 118) transparent;
    left: -20px;
}
aside.ribbon3:after {
    border-color: transparent rgb(250, 208, 118);
    right: -20px;
}

/* Instructions Style */
.ribbon{
  position:relative;
  padding: 0 0.5em;
  font-size:2.000em;
  margin: 0 0 0 -0.625em;
  line-height: 1.875em;
  border-radius: 0 0.156em 0.156em 0;
  color: rgb(71, 71, 71);
  background: rgb(226, 193, 120);
  box-shadow: -1px 2px 3px rgba(0,0,0,0.5);
}

.ribbon:before, .ribbon:after{
  position:absolute;
  content: '';
  display: block;
}

.ribbon:before{
  width: 0.469em;
  height: 100%;
  padding: 0 0 0.438em;
  top:0;
  left: -0.469em;
  background:inherit;
  border-radius: 0.313em 0 0 0.313em;
}

.ribbon:after{
  width: 0.313em;
  height: 0.313em;
  background: rgba(0,0,0,0.35);
  bottom: -0.313em;
  left: -0.313em;
  border-radius: 0.313em 0 0 0.313em;
  box-shadow: inset -1px 2px 2px rgba(0,0,0,0.3);
}

/*star rating*/

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease-in-out;
}

.radio-label:before {
  content: "★";
  display: inline-block;
  font-size: 32px;
}

.radio-input:checked ~ .radio-label {
  color: gold;
}

.radio-label:hover,
.radio-label:hover ~ .radio-label {
  color: goldenrod;
}

.radio-input:checked + .radio-label:hover,
.radio-input:checked + .radio-label:hover ~ .radio-label,
.radio-input:checked ~ .radio-label:hover,
.radio-input:checked ~ .radio-label:hover ~ .radio-label,
.radio-label:hover ~ .radio-input:checked ~ .radio-label {
  color: darkgoldenrod;
}

.checked {
      color: orange;
}

.average-rating {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: 25px;
}

.average-rating::before {
  --percent: calc(4.3/5*100%);
  content: "★★★★★";
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 120px;">
        {% if message %}
            <div class="alert alert-warning">{{message}}</div>
        {% endif %}
        <div class="col-12 col-md-7 order-2 order-md-2">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center">
                <div class="d-flex" style="justify-content: space-between;">
                    <h1>{{ recipe.title }} <a href="{% url 'accounts:add_remove_saved_view' recipe.id %}" {% if not request.user.is_authenticated %} data-bs-toggle="modal" data-bs-target="#savedModal" {% endif %} class="text-decoration-none"><i class="bi {% if is_saved %} bi-bookmark-fill {% else %} bi-bookmark {% endif %} bookmark"></i></a>
                    </h1>
                    <div class="d-flex justify-content-end">
                        {% if request.user.is_authenticated and request.user.username == recipe.user.username or request.user.is_superuser %}
                            <a href="{% url 'main:update_recipe' recipe.id %}" class="btn"><span class="material-symbols-rounded">edit</span></a>
                            <a href="{% url 'main:delete_recipe' recipe.id %}" class="btn"><span class="material-symbols-rounded">delete</span></a>
                        {% endif %}
                    </div>
                </div>

                <p class="text-muted"><strong>By </strong>
                    <a href="{% url 'accounts:profile' recipe.user.username %}" class="text-decoration-none">
                        {{ recipe.user.first_name }} {{ recipe.user.last_name }}
                    </a>
                </p>
                
                <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{recipe.category}}">{{ recipe.category }}</h6>
                <div style="white-space: pre-line;">
                    <aside class="ribbon3 d-flex justify-content-center" style="color: rgb(71, 71, 71);"><strong>Ingredients:</strong></aside>
                    {{ recipe.ingredients }}
                </div>
            </div>
        </div>
        
        <div class="col col-md-5 order-1 order-md-1 d-flex flex-column justify-content-center align-items-center">
            <img src="{{ recipe.image.url }}"  class="rounded-4" style="background-size: cover; width: 80%; height: auto;"/>
            <br>
            <div class="d-flex gap-2">
                <i class="fa fa-clock-o"></i> {{ recipe.time_estimate }}
                <strong>~</strong>
                <i class="fa fa-users"></i>{{ recipe.served }} people
            </div>
        </div>
    </div>

    <div class="row p-5 mt-5">
        <div class="ribbon">
            <h3><strong>Instructions</strong></h3>
        </div>
        <p style="white-space: pre-line;">{{ recipe.instructions }}</p>
    </div>
    <!--END Recipe-->

    <hr>
    <h2 id="reviews">Reviews ({{reviews.count}})</h2>
    <div class="container">
        
        <div class="row mt-4">
            <div class="col-12 col-md-6 order-1 order-md-1 d-flex gap-2">
                {% for review in reviews %}
                <div class="d-flex flex-column p-3 rounded-4 w-100" style="border-left: 5px groove; border-right: 5px groove;">
                    <div class="d-flex gap-2">
                        <span class="material-symbols-rounded ">account_circle</span>
                        <a href="{% url 'accounts:profile' review.user.username %}" class="text-decoration-none"><h4>{{ review.user.username }}</h4></a>
                    </div>
                    <div>
                        <span class="fa fa-star {% if review.evaluation >= 1 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if review.evaluation >= 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if review.evaluation >= 3 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if review.evaluation >= 4 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if review.evaluation >= 5 %} checked {% endif %}"></span>
                    </div>
                    <h6 class="text-muted">{{ review.created_at }}</h6>
                    <p>{{ review.content }}</p>
                </div>
                {% endfor %}
            </div>
        
            <div class="col col-md-6 order-2 order-md-2 d-flex justify-content-end">
                <div class="d-flex flex-column border border-1 shadow p-3 rounded-4" style="color: aliceblue; width: 500px; background: linear-gradient(#144c5a, #123d4e, #0f3943);">
                    
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'main:add_review' recipe.id %}" method="post" class="d-flex flex-column gap-2">
                        {% csrf_token %}
                        
                        <label for="content" class="d-flex justify-content-center" style="font-size: 32px;">Share Your Review</label>
                        <div class="star-rating">
                            <input class="radio-input" type="radio" id="star5" name="evaluation" value="5" />
                            <label class="radio-label" class for="star5" title="5 stars">5 stars</label>
                            
                            <input class="radio-input" type="radio" id="star4" name="evaluation" value="4" />
                            <label class="radio-label" for="star4" title="4 stars">4 stars</label>
                            
                            <input class="radio-input" type="radio" id="star3" name="evaluation" value="3" />
                            <label class="radio-label" for="star3" title="3 stars">3 stars</label>
                            
                            <input class="radio-input" type="radio" id="star2" name="evaluation" value="2" />
                            <label class="radio-label" for="star2" title="2 stars">2 stars</label>
                            
                            <input class="radio-input" type="radio" id="star1" name="evaluation" value="1" />
                            <label class="radio-label" for="star1" title="1 star">1 star</label>
                        </div>
                        <textarea id="content" name="content" class="form-control" placeholder="Write Your Review..." required></textarea>

                        <input type="submit" value="Add Review" class="btn btn-dark" style="background: linear-gradient(#081b22, #051116, #02070b);"/>
                    </form>
                    {% else %} 
                        <div class="alert alert-warning">You must <a href="{% url 'accounts:login' %}">Sign in</a> to write a review.</div>
                    {% endif %}
        
                </div>
            </div>
        </div> <!--Review Row-->
    </div><!--END Reviews-->
</div> <!--END Container-->

<!-- Modal -->
<div class="modal fade" id="savedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Saved Recipe</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Please <a href="{% url 'accounts:login' %}">Login</a> to save the recipe.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>

        </div>
      </div>
    </div>
</div>

{% endblock %}