{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h1>All Bookings</h1>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Place</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.user }}</td>
                <td>{{ booking.place }}</td>
                <td>{{ booking.check_in_date }}</td>
                <td>{{ booking.check_out_date }}</td>
                <td>{{ booking.full_name }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.phone_number }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
