{% extends 'main/base.html' %}

{% block title %}All Places{% endblock %}

{% block content %}
<style>
.container {
    margin-top: 50px; 
}

.mb-4 {
    margin-bottom: 1.5rem !important; 
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 200px; 
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.card-text {
    font-size: 0.875rem;
    color: #6c757d; 
}

.btn-outline-dark {
    color: #343a40; 
    border-color: #343a40; 
}

.btn-outline-dark:hover {
    background-color: #343a40; 
    color: #fff; 
}

.btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
}

.btn-primary:hover {
    background-color: #000000; 
    border-color: #000000; 
}
</style>
<div class="container">
    <h1 class="mb-4">All Places {% if category %}({{ places_count }}){% endif %}</h1>
    <form method="get" class="mb-4">
        <div class="row">
            <div class="col-md-4">
                <label for="neighborhood" class="form-label">Neighborhood:</label>
                <select class="form-select" name="neighborhood" id="neighborhood">
                    <option value="">All Neighborhoods</option>
                    {% for neighborhood in neighborhoods %}
                    <option value="{{ neighborhood }}" {% if request.GET.neighborhood == neighborhood %}selected{% endif %}>{{ neighborhood }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="category" class="form-label">Category:</label>
                <select class="form-select" name="category" id="category">
                    <option value="">All Categories</option>
                    {% for category in categories %}
                    <option value="{{ category }}" {% if request.GET.category == category %}selected{% endif %}>{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-outline-dark mt-md-4 mt-4">Apply Filter</button>
            </div>
        </div>
    </form>

    <div class="row">
        {% for filtered_place in filtered_places %}
        <div class="col-md-3 mb-2"> 
            <div class="card">
                <img src="{% if filtered_place.images.first %}{{ filtered_place.images.first.image.url }}{% else %}{% endif %}" class="card-img-top" alt="{{ filtered_place.name }}" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{ filtered_place.name }}</h5>
                    <p class="card-text">Neighborhood: {{ filtered_place.neighborhood }}</p>
                    <p class="card-text">Category: {{ filtered_place.category }}</p>
                    <p class="card-text">Price: {{ filtered_place.price }}</p>
                    <a href="{% url 'main:place_detail' filtered_place.id %}" class="btn btn-primary">View Details <span aria-hidden="true">→</span></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
