{% extends 'main/base.html' %}
{% block content %}
<section class="about-service">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to DreamDwellings</h2>
                <p>At DreamDwellings, we understand that finding the perfect place to call home is more than just a transaction – it's about finding a sanctuary where memories are made and dreams come to life.</p>
                <p>With our unwavering commitment to excellence, we're here to guide you every step of the way on your journey to finding your dream home. Whether you're searching for a cozy apartment, a spacious family house, or an elegant estate, our platform offers a diverse selection of properties to suit every lifestyle and budget.</p>
                <p>What sets DreamDwellings apart is our dedication to providing personalized service tailored to your unique needs and preferences. Our team of experienced real estate professionals is here to listen, advise, and support you throughout your home search, ensuring that you find the perfect place that feels just right.</p>
                <p>Discover the joy of finding your dream home with DreamDwellings. Start your search today and let us help you turn your dream into a reality.</p>
            </div>
            <!-- <div class="col-md-6">
                <img src="path/to/image" alt="DreamDwellings" class="img-fluid">
            </div> -->
        </div>
    </div>
</section>
{% endblock %}