{% extends 'main/base.html' %}
{% load static%}
{%load mathfilters %}



 {% block content %}
 

 <div class="row mt-5 ">
 <div class="d-flex justify-content-center align-items-center">
 <h1>{{recipe.title}}</h1>
 </div>
  </div>


<div class="row mt-5">

    <div class="col md-6">
    <img src="{{ recipe.image.url }}"  class="w-100 rounded-4"/>
    <br><br>
    <a href="{% url 'favorites:recipe_favorites_view' recipe.id %}" {% if not request.user.is_authenticated %} data-bs-toggle="modal" data-bs-target="#favoriteModal" {% endif %} class="text-decoration-none"><i class="bi {% if is_favored %} bi-heart-fill {% else %} bi-heart {% endif %} favorite"></i></a>
    
    </div>


    <div class="col mt-1 md-6 ">
        {% if request.user.is_staff %}
        <a href="{% url 'main:update_recipe_page' recipe.id %}" class="btn btn-primary">update</a>
        <a href="{% url 'main:delete_recipe_view' recipe.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
        <h4 class="mt-5">{{recipe.title}}</h4>
        <h6>Category :{{recipe.category}}</h6>
        <p>How to prepare :<br>{{recipe.about}}</p>
        <p>Quantity : {{recipe.quantity}} Grams</p>
        <p>Calories :{{recipe.calories}}</p>
        <br>
        <hr>
        <h6>Nutritions</h6>
        <br>
        <p>Fat :</p>
        <div class="progress form-group col-md-12" style="height:25px;" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{recipe.fat}}" aria-valuemin="0" aria-valuemax="100">
        <div name ="fat" class="progress-bar bg-success" style="width: {{recipe.fat}}%">{{recipe.fat}}%</div>
        </div>
        <br>
        <p>Protien :</p>
        <div class="progress" role="progressbar" style="height:25px;" aria-label="Info example" aria-valuenow="{{recipe.protien}}" aria-valuemin="0" aria-valuemax="100">
        <div name ="protien" class="progress-bar bg-info text-dark" style="width: {{recipe.protien}}%">{{recipe.protien}}%</div>
        </div>
        <br>
        <p>Carb :</p>
        <div class="progress" role="progressbar" style="height:25px;" aria-label="Warning example" aria-valuenow="{{recipe.carb}}" aria-valuemin="0" aria-valuemax="100">
        <div name ="carb" class="progress-bar bg-warning text-dark" style="width: {{recipe.carb}}%">{{recipe.carb}}%</div>
        </div>
        <br>
        <hr>
        
    </div>
</div>




<hr>
<div class="row mt-5">

             </div>
              <div class="col">
            <h1 class="cal-title2">To burn {{recipe.calories}} calories </h1>
            <ol class=" xx list-group ">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="">You have to Run for</div>
            <span class=" -icon material-symbols-outlined">directions_run</span>
            </div>
            <p class="mt-4"><strong>{{ recipe.calories | div:223 | mul:60 | floatformat:0}} </strong>minutes</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="">You have to yoga for</div>
            <span class=" -icon material-symbols-outlined">self_improvement</span>
            </div>
            <p class="mt-4"><strong>{{ recipe.calories | div:270 | mul:60 | floatformat:0}}</strong> minutes</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="">You have to workout for</div>
            <span class=" -icon material-symbols-outlined">fitness_center</span>
            </div>
            <p class="mt-4"><strong>{{ recipe.calories | div:449 | mul:60 | floatformat:0}}</strong> minutes</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="">You have to walk for</div>
            <span class=" -icon material-symbols-outlined">directions_walk</span>
            </div>
            <p class="mt-4"><strong>{{ recipe.calories| div:293 | mul:60 | floatformat:0}}</strong> minutes</p>
        </li>
        </ol>
                    
          </div> 
        </div>
        </div>
   
</div> 



<br>
<hr>
<br>
{% if recipes.count != 0%}
 <h1>Read More</h1>
{% endif %}
<div class="row mt-2 g-5">
<div class="col md-6">

        {% for recipe in recipes %}
        <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
      <img src="" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'main:detail_recipe_page' recipe.id  %}" class="text-decoration-none">{{recipe.title}}</a></h5>
        <p class="card-text">For: {{recipe.quantity}} Grams </p>
        <p class="card-text">Calories :{{recipe.calories}} </p>
        <p class="card-text">Category:{{recipe.category}} </p>
      </div>
    </div>
  </div>
</div>
</div>

<br><br>
     
       {% endfor %}
 {% endblock %}
