{% extends 'main/base.html' %}
{% load static %}



 {% block content %}

<div class="food row">
<div class="col-md-12">
<img class="food" src=" {% static 'images/home.webp'%}">
</div>
</div>

<br><br><br><br>
<div class="cardabout">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="card-inner">
  <div class="about-b">
  
  <h1>About<h2>
  <br><br>
  <p>kkkkkkkkkk</p>
  
  

 
  </div>
  </div>
</div>

<!--end banner-->

 



<!--end about continer-->
<div class="continer">
<div class="row mt-5">
<div class="col">


</div>
</div>
</div>


<br>
<div class="r-con">
<div class="line2">
  <div class="r-title-box2">
  
 </div>
 </div>
 </div>
  <h1 class="d-flex justify-content-center align-items-center ">Foodie Recipes You May Like</h1>



 <div class=" row ">
  {% for recipe in recipes %}
    <div class="col-md-4 mt-5">

  <article class="ccard">
  <div class="im">
  <div class="card-img4">
    <img class="card-img4 " src="{{recipe.image.url}}" class="card-img-top" alt="...">
  </div>
   </div>

  <div class="project-info">
    <div class="flex">
      <div class="project-title">
      <a href="{% url 'main:detail_recipe_page' recipe.id  %}">{{recipe.title}}</a>
      </div>

      <span class="tag">{{recipe.category}}</span>
    </div>
    <span class="lighter"
      >Quantity: {{recipe.quantity}} <br>
      Calories : {{recipe.calories}}</span>
  </div>
</article>
  </div>
    {% endfor %}

  </div>
  <br>
<br><a href="{% url 'main:all_recipe_page'%}" class=" home-b btn ">See More</a>

<br><br>
<div class="r-con">
<div class="line2">
  <div class="s-r-title-box2">
  
 </div>
 </div>
 </div>


<br><br>
 <div class="cardabout">
  <div class="card-inner">
   <img class="fit1"src="https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
  <div class="b-contant">
 
<dive class="overly">
  <div class="box1"> 
  
  <h1>Search food you like to find calories<h2>
  <br><br>
   <a href="{% url 'main:search_food_page'%}" class=" b btn ">Search Food</a>
  </div>
  </div>
  </div>
  
  </div>
</div>

<br>

 {% endblock %}
