
{% extends 'main/base.html' %}
{%load mathfilters %}



 {% block content %}

  <div class="row mt-5">
<div class="-continer col col-md-12 order-1 order-md-2 justify-content-center ">
  <img class="-img" src="/static/images/searchimg.jpg" />
 </div>
</div>

 <div class="row mt-5">
 <div class="col col-md-6 order-2 order-md-2 justify-content-center flex-column d-flex  ">
  <dive class="overly">
  <div class="box"> 
  <p class="title">Food Calorie Counter </p>
  <h1 class="">Search by food name  </h1>
   <form method="POST" actions= "{% url 'main:search_food_page'%}"class="d-flex" role="search">
{% csrf_token %}
            <input class=" -search form-control me-2" type="search" placeholder="Search" name="query" >
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
  </div>
  </div>
  </div>
    </div>
<br>
<h1 class="api-title">Results for {{api.0.name}} : </h1>
<hr>
 <div class="row mt-5">
 <div class=" x col">


            {% if api %}
            {% if api == "error"%}
            <div class="alert alert-danger "> something went wrong.Please try again </div>
            {% else%}
            {%if api.0.calories > 1000%}
            <div class="alert alert-warning d-flex align-items-center mt-3" role="alert">
             <div>
                This food contains an high amount of calories. Becarefull.
                </div>
                </div>
                {% endif %}
               
             <h1 class= "cal-title">{{api.0.name}} has a total of {{api.0.calories}} calories </h1>
             <ul class=" list-group">
             <li class=" list-group-item d-flex justify-content-between align-items-center">
                    Total grams 
                    <p>{{api.0.serving_size_g}} g</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Carbohydrates
                    <p>{{api.0.carbohydrates_total_g}}</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Protein
                    <p>{{api.0.protein_g}}</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sodium
                    <p>{{api.0.sodium_mg}}</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sugar
                    <p>{{api.0.sugar_g}}</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Potassium
                    <p>{{api.0.potassium_mg}}</p>
                </li>
                </ul>

             {% endif %}
             {% endif %}
             
             </div>
              <div class="col">
            <h1 class="cal-title2">To burn {{api.0.calories}} calories </h1>
            <ol class=" xx list-group ">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="">You have to Run for</div>
            <span class=" -icon material-symbols-outlined">directions_run</span>
            </div>
            <p class="mt-4"><strong>{{ api.0.calories | div:223 | mul:60 | floatformat:0}} </strong>minutes</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="">You have to yoga for</div>
            <span class=" -icon material-symbols-outlined">self_improvement</span>
            </div>
            <p class="mt-4"><strong>{{ api.0.calories | div:270 | mul:60 | floatformat:0}}</strong> minutes</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="">You have to workout for</div>
            <span class=" -icon material-symbols-outlined">fitness_center</span>
            </div>
            <p class="mt-4"><strong>{{ api.0.calories | div:449 | mul:60 | floatformat:0}}</strong> minutes</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="">You have to walk for</div>
            <span class=" -icon material-symbols-outlined">directions_walk</span>
            </div>
            <p class="mt-4"><strong>{{ api.0.calories | div:293 | mul:60 | floatformat:0}}</strong> minutes</p>
        </li>
        </ol>
                    
          </div> 
        </div>
        </div>

<br><br>
<br>
<hr>


    <div class="row mt-2 g-5">
     <h1>Check Our Recipes</h1>
        {% for recipe in recipes %}
        <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
      <img src="" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        <p class="card-text">For: {{recipe.quantity}} Grams </p>
        <p class="card-text">Calories :{{recipe.calories}} </p>
        <p class="card-text">Category:{{recipe.category}} </p>
      </div>
    </div>
  </div>
</div>
     

       {% endfor %}

    </div>

 {% endblock %}
