
{% extends 'main/base.html' %}
{%load mathfilters %}
{% load static %}


 {% block content %}

 <br><br>
 <div class="cardabout">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="card-inner">
   <img class="fit1"src="https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
  <div class="b-contant">
 
<dive class="overly">
  <div class="box1"> 
  
  <h1>Calories Finder<h2>
  <br><br>
  <p>Search food you like to find calorie</p>
  
  </div>
  </div>
  </div>
  
  </div>
</div>

<br>

<br>

<div class="r-con">
<div class="line2">
  <div class="s-r-title-box2">
  
 </div>
 </div>
 </div>

 <div class=" calories-box row mt-5">
   <h1 class="api-title">Search by food name  </h1>
    <form method="POST" actions= "{% url 'main:search_food_page'%}" class="d-flex" role="search">
{% csrf_token %}
     <input class=" -search2 form-control me-2" type="search" placeholder="Search" name="query" >
    <button class="-searchbtn btn btn-outline-success" type="submit">Search</button>
    </form>

{% if api %}
<div class="result-api">
 <h1 class="api-title">Results for {{api.0.name}} : </h1>
 <h1 class= "api-title">{{api.0.name}} has a total of {{api.0.calories}} calories </h1>
</div>
{% endif %}
 <div class=" x col">


            
            {% if api == "error"%}
            <div class="alert alert-danger "> something went wrong.Please try again </div>
            {% else%}
            {%if api.0.calories > 1000%}
            <div class="alert alert-warning d-flex align-items-center mt-3" role="alert">
             <div>
                This food contains an high amount of calories. Becarefull.
                </div>
                </div>
                {% endif %}
               
             <ul class=" list-group">
              <li class=" list-group-head d-flex justify-content-between align-items-center">
                   <p class="u2"> Nutritional Values </p>
                </li>
             <li class=" list-group-item d-flex justify-content-between align-items-center">
                    Total grams 
                    <p><strong class="nut">{{api.0.serving_size_g}}</strong> g</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Carbohydrates
                    <p><strong class="nut1">{{api.0.carbohydrates_total_g}}</strong> g</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Protein
                    <p><strong class="nut2">{{api.0.protein_g}}</strong> g</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sodium
                    <p><strong class="nut3">{{api.0.sodium_mg}}</strong> mg</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sugar
                    <p><strong class="nut4">{{api.0.sugar_g}}</strong> g</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Potassium
                    <p><strong class="nut5">{{api.0.potassium_mg}}</strong> mg</p>
                </li>
                </ul>

             {% endif %}
             
             </div>
              <div class="col">
            <ol class=" xx list-group ">
            <li class=" list-group-head2 d-flex justify-content-between align-items-center">
                    <p class="u" >To burn {{api.0.calories}} calories </p>
                </li>
        <li class="list-group-item2 d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="item-title">You have to Run for</div>
            <img class="sport-img-2"src="{% static 'images/runing.png' %}" />
            </div>
            <p class=" mun mt-1">minutes <br><strong class="num">{{ api.0.calories | div:293 | mul:60 | floatformat:0}} </strong></p>
            
        </li>
        <li class="list-group-item2 d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="item-title">You have to yoga for</div>
            <img class="sport-img-" src="{% static 'images/yoga.png' %}" />
            </div>
            <p class=" mun mt-1">minutes <br><strong class="num1">{{ api.0.calories | div:270 | mul:60 | floatformat:0}}</strong> </p>
        </li>
        <li class="list-group-item2 d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="item-title">You have to workout for</div>
            <img class="sport-img-2" src="{% static 'images/gym.png' %}" />
            </div>
            <p class="mun mt-1">minutes <br><strong class="num2">{{ api.0.calories | div:449 | mul:60 | floatformat:0}}</strong> </p>
        </li>
        <li class="list-group-item2 d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="item-title">You have to clean for</div>
            <img class="sport-img-" src="{% static 'images/clean.png' %}" />
            </div>
            <p class="mun mt-1">minutes <br><strong class="num3">{{ api.0.calories | div:223 | mul:60 | floatformat:0}}</strong> </p>
        </li>
        </ol>
                    
          </div> 
        
        


        <div class=" row">
             <div class=" chart-food  col-md-8 ">
  <canvas class="bar" id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"> </script>


<script>


  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Total grams', 'Carbohydrates', 'Protein', 'Sodium', 'Sugar', 'Potassium'],
      datasets: [{
        label: 'grams',
        data: [100, {{api.0.carbohydrates_total_g}}, {{api.0.protein_g}}, {{api.0.sodium_mg}}, {{api.0.sugar_g}}, {{api.0.potassium_mg}}],
        backgroundColor: [
      'rgb(255, 99, 132, 0.2)',
      'rgb(255, 159, 64, 0.2)',
      'rgb(255, 205, 86, 0.2)',
      'rgb(75, 192, 192, 0.2)',
      'rgb(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
    ],
     borderColor: [
      'rgb(255, 99, 132, 0.2)',
      'rgb(255, 159, 64, 0.2)',
      'rgb(255, 205, 86, 0.2)',
      'rgb(75, 192, 192, 0.2)',
      'rgb(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
    ],
        borderWidth: 1
        
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>
</div>
</div>

        </div>
        </div>

<br><br>
<br>



<div class="r-con">
<div class="line2">
  <div class="r-title-box2">
  
 </div>
 </div>
 </div>
  <h1 class="api-title">Check Our Recipes</h1>








 <div class=" row ">
  {% for recipe in recipes %}
    <div class="col-md-4 mt-5">

  <article class="ccard">
  <div class="im">
  <div class="card-img4">
    <img class="card-img4 " src="{{recipe.image.url}}" class="card-img-top" alt="...">
  </div>
   </div>

  <div class="project-info">
    <div class="flex">
      <div class="project-title">
      <a href="{% url 'main:detail_recipe_page' recipe.id  %}">{{recipe.title}}</a>
      </div>

      <span class="tag">{{recipe.category}}</span>
    </div>
    <span class="lighter"
      >Quantity: {{recipe.quantity}} <br>
      Calories : {{recipe.calories}}</span>
  </div>
</article>
  </div>
    {% endfor %}

  </div>
  <br>
<a href="{% url 'main:all_recipe_page'%}" class=" home-b btn ">See More</a>
<br><br><br>

 {% endblock %}
