{% extends 'main/base.html' %}




 {% block content %}
 


 <div class=" row ">
  {% for message in messages %}
    <div class="col-md-3 mt-5">

  <article class="ccard-msg">
  <div class="im">
  <div class="card-img-msg">
    <img class="card-img-msg" src="{{ message.image.url }}" class="card-img-top" alt="...">
  </div>
   </div>

  <div class="project-info">
    <div class="flex">
      <div class="project-title-msg">
     <h2>{{ message.name }}</h2> 
      </div>

      <span class="tag"> </span>
    </div>
    <span class="lighter-msg">
      <strong><a href="mailto:{{message.email}}">{{ message.email }}</a></strong><br><br>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal{{ message.id }} ">{% if message.message|length > 50 %} {{ message.message|slice:":50"}}<strong> ....read more</strong> {% else %}{{ message.message }}{% endif %}</a><br><br>
               At: {{ message.created_at }}
               <br><br><a href="{% url 'main:delete_message_view' message.id %}" class="btn btn-danger">Delete</a></span>
  </div>
</article>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal{{ message.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ message.name }} message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ message.message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'main:delete_message_view' message.id %}" class="btn btn-danger">Delete</a>
        
      </div>
    </div>
  </div>
</div>

    {% endfor %}

  </div>





 {% endblock %}
