{% extends "main/base.html" %}

{% block title %}{{bootcamp.bootcamp_name}}{% endblock  %}

{% block content  %}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
            
                {{bootcamp.bootcamp_name}}
                {{bootcamp.desc}}
                {% for student in students %}
                <a href="{% url "student:student_profile" student.user.username%}">{{student.user.first_name}}</a>

                {% endfor %}
            
            </div>
        </div>
    </div>

</section>

{% endblock %}


