
/* checkbox  */

/* label {
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  input[type="checkbox"]:checked + #myText {
    position: relative;
  }
  
  input[type="checkbox"]:checked + #myText::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
  } */


body {
    background-color: #F7F6F4;
} 

/* 
.btn{
  background-color: #e2a675;
} */

.sidebar {
  width: 200px;
  background: #FFFFFF;
  position: fixed;
  height: 100%;
  border-radius: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    text-align: center;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: rgb(15, 62, 52);
    font-weight: bold;
  }
  
  .sidebar ul li button:hover {
    /* background: rgb(58, 125, 110); */
    background: #FFAF88;
    color: beige;
  }


  .logout button:hover{
    background: #905e53;
  }



            /* navbar  */

.navbar {
  background-color: #FFFFFF;
  color: rgb(135, 118, 45);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  margin: 20px;
}

.search-bar {
  float: right;
  border-color: #FFAF88;
}

.search-bar input[type="text"] {
  padding: 6px;
  border-radius: 4px;
  border: none;
}

.search-bar button{
  padding: 6px 12px;
  background-color: #FFAF88;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover{
  color: #af744c;
}