
/* checkbox  */

/* label {
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  input[type="checkbox"]:checked + #myText {
    position: relative;
  }
  
  input[type="checkbox"]:checked + #myText::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
  } */



*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #F7F6F4;
} 



/* Side bar  */

.sidebar {
  width: 200px;
  background: #FFFFFF;
  position: fixed;
  height: 100%;
  border-radius: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}
  
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  
.sidebar ul li {
  padding: 10px;
  text-align: center;
}
  
.sidebar ul li a {
  text-decoration: none;
  color: rgb(15, 62, 52);
  font-weight: bold;
}
  
.sidebar ul li button:hover {
  background: #ffd000;
  color: beige;
}


/* navbar  */

section{
  padding: 40px 80px;
} 

.navbar-brand{
  color: #453428;
  padding-left: 30px;
  font-size: 25px;
}

.navbar {
  background-color: #FFFFFF;
  color: rgb(241, 240, 236);
  padding: 10px;
  /* position: fixed; */
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  margin: 20px;
}

.navbar a{
  text-decoration: none;
}
.search-bar {
  float: right;
  border-color: #ffd000;
}

.search-bar input[type="text"] {
  padding: 6px;
  border-radius: 4px;
  border: none;
}

.search-bar button{
  padding: 6px 12px;
  background-color: #ffd000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10 50px;
}

.search-bar button:hover{
  background-color: #b09005;
  color: #f7f8f2;
}


/* main section  */

.main{
  /* display: flex; */
  align-items: center;
  opacity: 85%;
  flex-direction: column;
  row-gap: 1px;
  background-size: cover;
  background-position: center;
  /* effect for the main section image to be fixid  */
  /* background-attachment: fixed; */
  padding: 50px;
  margin-left:20px;
  margin-right:20px;

}


.main .main-img{
  border-radius: 30px;
}


.no-underline {
  text-decoration: none;
  color: #3C3C3C;
}

.main h3{
  color: rgb(28, 33, 25);
  font-family: "Oi", sans-serif;
  font-size: 10px;
  font-weight: 500 ;
  margin: 50px;
}

.main h2 span{
  color: #af744c;
  font-family: "Crimson Text", sans-serif;
  /* responsive size  */
  font-size: 80px;
  font-weight: 600;
}

/* #sign_up_btn{
  background-color: rgb(174, 124, 57);
} */
.highlight ::selection {
  background-color: rgb(255, 213, 0);
}

/* about section  */


.title{
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #3C3C3C;
  font-weight: 800;
  margin-top: 0px;
  text-align: center;
}


/* About Us  */

#section1{
  padding: 70px 80px;
  margin-top: 50px;

}

.title p span{
  padding: 70px 80px;
}


/* Footer  */
.footer-info {
  text-decoration: none;
  padding-top: 20px;
  color: #7c7c7b;
}


/* dashboard  */
.all-comments{
  position: relative;
  overflow-y: scroll;
  height: 400px;
  right: 15px;
  padding-left: 20px;
}


.all-comments::-webkit-scrollbar {
  width: 8px;
}

.all-comments::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.all-comments::-webkit-scrollbar-thumb {
  background:#198754;
  border-radius: 15px;
}








.container {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label,
input,
button {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  margin-bottom: 10px;
}

.task-item button {
  background-color: #f44336;
  color: white;
  float: right;
}

.task-item button:hover {
  background-color: #d32f2f;
}