{% extends 'main/base.html' %}
{% block title %}Add Recipes{% endblock %}

{% block style %}


{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="{% url 'main:add_recipes' %}" method="POST" enctype="multipart/form-data" class="action d-flex flex-column gap-2">
                
                    {% csrf_token %}
                    <h1>Add Recipes</h1>
                    
                    <input name="name" type="text" placeholder="recipes name" class="form-control" required>
                    <textarea name="content" type="text" placeholder="recipes .." class="form-control" required></textarea>
                    <input name="time_coockin" type="" placeholder="time coockin" class="form-control" required>
                    <input name="number_people" type="" placeholder="Quantity serves people" class="form-control" required>

                    <h5>Choose Image:</h5>
                    <input name="image"  type="file"  accept="image/*" class="form-control" required />

                    
                    
                    <h5>Category</h5>
                    {% for val, cat in Category %}
                        <div class="form-check">
                            
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="{{val}}" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                {{cat}}
                            </label>
                            
                          </div>
                          {% endfor %}

                    <input type="submit" class="btn btn-primary" value="Add Recipes" />
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}