<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/website-style.css' %}" class="css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% block style %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class=" navbar-brand align-items-center"  href="">Food recipes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class=" collapse navbar-collapse  " id="navbarSupportedContent">
            <ul class="nav-1 navbar-nav me-auto mb-2 flex-row mb-lg-0 align-items-center">
              <li class="nav-item">
                <a class="nav-link " aria-disabled="true" href="{% url 'main:home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-disabled="true" href="{% url 'main:all_recipes' %}">Recipes</a>
              </li> 
              {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link " aria-disabled="true" href="{% url 'main:add_recipes' %}">Add Recipes</a>
              </li>
              
              {% endif %}
              <li class="nav-item">
                <a class="nav-link " aria-disabled="true"href="{% url 'main:suggestions_msg' %}">suggestions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-disabled="true" href="{% url 'main:recipes_search' %}">Search</a>
              </li>
                
              
            </ul>
            
            <ul class="nav-item"> 
            {% if request.user.is_authenticated %} 
              <div class="d-flex gap-1 mt-2 text-center ">
                <a class="nav-link" href="{% url 'accounts:user_profile' request.user.id %}">welcome {{request.user.username }}</a>
                <a class="nav-link" href="{% url 'accounts:logout_user' %}">Logout</a>
              </div>
              
            
          </ul>
            {% else %} 
            <ul class="nav-item dropdown mb-0">
              <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-outlined">account_circle</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="{% url 'accounts:register_user' %}">Sign up</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:login_user' %}">Login</a></li>
              </ul>
            </ul> 
            {% endif %} 
          </div>
      </nav>
      {% block content %}
      {% endblock content %}
    <!-- footr -->
    <div class="container-fluid" >
      <footer class="row py-3 my-4 mt-5" style="background-color: rgba(191, 120, 58, 0.998);">
        
        <div class="col-6">
          <p class="text-body-secondary ">Contact Us</p>
          <p class="contact_detiles"> TELEPHONE : <span><a href="/">+996 57263883764</a></span></p>
          <p class="contact_detiles"> EMAIL : <span><a href="/">foodrecipes@realeastate.com</a></span></p>
        </div>
          <div class="col-6">
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
      </footer>
  </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

