{% extends 'main/base.html' %}
{% block title %}Culinary Chronicles{% endblock %}

{% block style %}


{% endblock %}

{% block content %}
<div class="home ">
        <div class="row">
            <div class="col">
                <h1>Culinary Chronicles</h1>
                <h2></h2>

            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center ">
          <div class="col-11 ">
            <h1 class="fw-light text-blak mb-0 ">About</h1>
            <h2 class="lead text-blak mt-2"></h2>
          </div>
          <div class="col padding-right-100px">
            <a href="{% url 'main:all_plants' %}" style="text-decoration: none; color: #000;" class="d-inline-block ">More<span class="material-symbols-outlined align-middle">
              arrow_forward</span>
            </a>
          </div>
        </div>
        <div class="row g-5">

          {% for recipes in recipes %}
              <div class="col-4">
                  <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                      <img src="{{ recipes.image.url }}"  class="w-100 rounded-4"/>
                      <h2><a href="{% url 'main:detail_plants' plant.id  %}" class="text-decoration-none">{{recipes.name}}</a></h2>
                      <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{plant.categroy}} ">{{plant.categroy}}</h6>
                      <h6 class="text-muted">{{ plant.created_at }}</h6>
                      
                  </div>
              </div>
              
          {% endfor %}
          

        </div>


  </div>
</div>
{% endblock %}