{% extends 'main/base.html' %}
{% block title %}Culinary Chronicles{% endblock %}

{% block style %}


{% endblock %}

{% block content %}
<div class="home ">
        <div class="row">
            <div class="col" >
                <h2 style="text-align: center; margin-top: 200px;  background-color: rgba(249, 249, 255, 0.7); padding: 33px; margin-left: 250px; margin-right: 250px; ">Culinary Chronicles</h2>

            </div>
        </div>
</div>
<section>
    <div class="container">
        <div class="justify-content-between align-items-center ">
            <div class="col-11 ">
              <h2 class="fw-light text-blak mb-0 ">About</h2>
              <h2 class="lead text-blak mt-2"></h2>
            </div>
            <!-- <div class="col padding-right-100px">
              <a href="{% url 'main:all_recipes' %}" style="text-decoration: none; color: #000;" class="d-inline-block ">More<span class="material-symbols-outlined align-middle">
                arrow_forward</span>
              </a>
            </div> -->
        </div>
        
          
    </div>
</section>
{% endblock %}