{% extends "main/base.html" %}
{% load static %}
{% block title %}Tuwiq Connect{% endblock  %}
{% block style %}
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');


body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


* {
    transition: .5s;
}

.h-100 {
    height: 100vh !important;
}

.align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.column {
    margin-top: 3rem;
    padding-left: 3rem;
}

.column:hover {
    padding-left: 0;
}

.card {
    min-height: 170px;
    margin: 0;
    padding: 1.7rem 1.2rem;
    border: none;
    border-radius: 0;
    color: rgba(0, 0, 0, 1);
    letter-spacing: .05rem;
    font-family: 'Oswald', sans-serif;
    background-image: url(\static\images\student.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 21px rgba(0, 0, 0, .27);
}

.card .txt {
    margin-left: -3rem;
    z-index: 1;
}

.card .txt h1 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.card .txt p {
    font-size: .7rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0rem;
    margin-top: 33px;
    opacity: 0;
    color: rgba(255, 255, 255, 1);
}

.card a {
    z-index: 3;
    font-size: .7rem;
    color: rgba(0, 0, 0, 1);
    margin-left: 1rem;
    position: relative;
    bottom: -.5rem;
    text-transform: uppercase;
}

.card a:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 0;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    transition: .5s;
}

.card .ico-card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card i {
    position: relative;
    right: -50%;
    top: 60%;
    font-size: 12rem;
    line-height: 0;
    opacity: .2;
    color: rgba(255, 255, 255, 1);
    z-index: 0;
}
{% endblock  %}

{% block content %}
<div class="container h-100">
    <div class="row align-middle">
        <div class="col-md-6 col-lg-4 column">
            <div class="card">
                <div class="txt">
                    <h1>Orgnaizations <br> Services</h1>
                </div>
                <a href="{% url "accounts:organization_login" %}">more</a>
                <div class="ico-card gr-1">
                    <i class="fa fa-rebel"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card">
                <div class="txt">
                    <h1>Students <br> Services</h1>
                </div>
                <a href="{% url "accounts:student_login" %}">more</a>
                <div class="ico-card gr-2">
                    <i class="fa fa-codepen"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card">
                <div class="txt">
                    <h1>Staff <br> Services</h1>
                </div>
                <a href="{% url "accounts:staff_login" %}">more</a>
                <div class="ico-card gr-3">
                    <i class="fa fa-empire"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
